<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kakuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>kakuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>kakuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>kakuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>kakuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>kakuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>xingji.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,194},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>zhongzhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zhongzhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,290},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zhongzhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,290},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zhongzhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,290},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_waikuang.png</string>
            <key>size</key>
            <string>{241,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83cd5cf84d3f0a1a42eb0765857ae17d$</string>
            <key>textureFileName</key>
            <string>card_waikuang.png</string>
        </dict>
    </dict>
</plist>
