<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diwen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>diwen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>diwen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>diwen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>diwen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>diwen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_diwen.png</string>
            <key>size</key>
            <string>{206,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b1645ad95c4fa4bd0e563b7058a579$</string>
            <key>textureFileName</key>
            <string>card_diwen.png</string>
        </dict>
    </dict>
</plist>
