<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,199},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>fenyebutton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,199},{141,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,33}}</string>
                <key>sourceSize</key>
                <string>{141,33}</string>
            </dict>
            <key>fenyebutton_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{141,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,33}}</string>
                <key>sourceSize</key>
                <string>{141,33}</string>
            </dict>
            <key>fenyebutton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,199},{141,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,33}}</string>
                <key>sourceSize</key>
                <string>{141,33}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{281,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,199}}</string>
                <key>sourceSize</key>
                <string>{281,199}</string>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
            <key>pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,232},{122,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{122,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backpack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d5a482c77fc91aeedb443a6ce2bc88e$</string>
            <key>textureFileName</key>
            <string>backpack.png</string>
        </dict>
    </dict>
</plist>
