<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cash.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>closeNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,2},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>closeSelected.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,2},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,2},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>goShopNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,30},{111,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,37}}</string>
			<key>sourceSize</key>
			<string>{111,37}</string>
		</dict>
		<key>goShopPressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{111,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,37}}</string>
			<key>sourceSize</key>
			<string>{111,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>seller.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e58b4e24f1fcfa5a4273da1ded53d0dd$</string>
		<key>textureFileName</key>
		<string>seller.png</string>
	</dict>
</dict>
</plist>
