<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anxia-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>anxia-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{34,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{34,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tansuo1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{275,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{275,44}}</string>
                <key>sourceSize</key>
                <string>{279,46}</string>
            </dict>
            <key>tansuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{277,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,44}}</string>
                <key>sourceSize</key>
                <string>{279,46}</string>
            </dict>
            <key>tansuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{239,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,27}}</string>
                <key>sourceSize</key>
                <string>{239,27}</string>
            </dict>
            <key>tansuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,63},{82,85}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>tansuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{78,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{78,75}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>tansuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{76,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,59}}</string>
                <key>sourceSize</key>
                <string>{76,59}</string>
            </dict>
            <key>tansuo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tansuo.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6458c3aceadc2ee1aa859dcca5b47ac9$</string>
            <key>textureFileName</key>
            <string>tansuo.png</string>
        </dict>
    </dict>
</plist>
