<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>0</key>
		<dict>
			<key>skill_id</key>
			<string>0</string>
			<key>skill_name</key>
			<string>普通攻击</string>
			<key>skill_type</key>
			<string>怒气</string>
			<key>stskill_id</key>
			<string>0</string>
			<key>cost_1_tips</key>
			<string>-1</string>
			<key>cost_1_func</key>
			<string>-1</string>
			<key>cost_1_parameter1</key>
			<string>-1</string>
			<key>cost_1_parameter2</key>
			<string>-1</string>
			<key>cost_2_tips</key>
			<string>-1</string>
			<key>cost_2_func</key>
			<string>-1</string>
			<key>cost_2_parameter1</key>
			<string>-1</string>
			<key>cost_2_parameter2</key>
			<string>-1</string>
			<key>parameter_1_tips</key>
			<string>伤害效果</string>
			<key>parameter_1</key>
			<string>1</string>
			<key>parameter_2_tips</key>
			<string>-1</string>
			<key>parameter_2</key>
			<string>-1</string>
			<key>parameter_3_tips</key>
			<string>-1</string>
			<key>parameter_3</key>
			<string>-1</string>
			<key>parameter_4_tips</key>
			<string>-1</string>
			<key>parameter_4</key>
			<string>-1</string>
			<key>effect_plist</key>
			<string>plist</string>
			<key>skill_tips</key>
			<string>普通攻击</string>
		</dict>
		<key>1</key>
		<dict>
			<key>skill_id</key>
			<string>1</string>
			<key>skill_name</key>
			<string>攻击减防回血</string>
			<key>skill_type</key>
			<string>怒气</string>
			<key>stskill_id</key>
			<string>1</string>
			<key>cost_1_tips</key>
			<string>怒气</string>
			<key>cost_1_func</key>
			<string>1</string>
			<key>cost_1_parameter1</key>
			<string>50</string>
			<key>cost_1_parameter2</key>
			<string>-1</string>
			<key>cost_2_tips</key>
			<string>-1</string>
			<key>cost_2_func</key>
			<string>-1</string>
			<key>cost_2_parameter1</key>
			<string>-1</string>
			<key>cost_2_parameter2</key>
			<string>-1</string>
			<key>parameter_1_tips</key>
			<string>伤害效果</string>
			<key>parameter_1</key>
			<string>2</string>
			<key>parameter_2_tips</key>
			<string>减防效果</string>
			<key>parameter_2</key>
			<string>11</string>
			<key>parameter_3_tips</key>
			<string>加血效果</string>
			<key>parameter_3</key>
			<string>111</string>
			<key>parameter_4_tips</key>
			<string>-1</string>
			<key>parameter_4</key>
			<string>-1</string>
			<key>effect_plist</key>
			<string>plist</string>
			<key>skill_tips</key>
			<string>攻击令敌人减防自身回血</string>
		</dict>
		<key>2</key>
		<dict>
			<key>skill_id</key>
			<string>2</string>
			<key>skill_name</key>
			<string>攻击加防减血</string>
			<key>skill_type</key>
			<string>怒气</string>
			<key>stskill_id</key>
			<string>2</string>
			<key>cost_1_tips</key>
			<string>怒气</string>
			<key>cost_1_func</key>
			<string>1</string>
			<key>cost_1_parameter1</key>
			<string>40</string>
			<key>cost_1_parameter2</key>
			<string>-1</string>
			<key>cost_2_tips</key>
			<string>-1</string>
			<key>cost_2_func</key>
			<string>-1</string>
			<key>cost_2_parameter1</key>
			<string>-1</string>
			<key>cost_2_parameter2</key>
			<string>-1</string>
			<key>parameter_1_tips</key>
			<string>伤害效果</string>
			<key>parameter_1</key>
			<string>3</string>
			<key>parameter_2_tips</key>
			<string>加防效果</string>
			<key>parameter_2</key>
			<string>12</string>
			<key>parameter_3_tips</key>
			<string>减血效果</string>
			<key>parameter_3</key>
			<string>112</string>
			<key>parameter_4_tips</key>
			<string>-1</string>
			<key>parameter_4</key>
			<string>-1</string>
			<key>effect_plist</key>
			<string>plist</string>
			<key>skill_tips</key>
			<string>攻击令自身加防敌人减血</string>
		</dict>
	</dict>
</plist>

