<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gongji</key>
	<dict>
		<key>actions</key>
		<array>
			<string>RotateBy(0.2,45)</string>
			<string>RotateBy(0.2,-45)</string>
			<string>Sequence(Item 0,Item 1)</string>
		</array>
		<key>runAction</key>
		<string>Item 2</string>
	</dict>
</dict>
</plist>
