<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gongji</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Delay(0.5)</string>
			<string>AnimateStruct(fire/firebuffer.act,100012)</string>
			<string>Removetag(100)</string>
			<string>JumpBy(0.2,{0,50},50,1)</string>
			<string>JumpBy(0.2,{0,-50},50,1)</string>
			<string>Sequence(Item 1,Item 6,Item 3,Item 4,Item 0)</string>
			<string>PlayEffectSound(skill_sound/fire.mp3)</string>
		</array>
		<key>runAction</key>
		<string>Item 5</string>
	</dict>
</dict>
</plist>
