<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>100004</key>
		<dict>
			<key>card_id</key>
			<string>100004</string>
			<key>coin</key>
			<string>1000</string>
			<key>item_1</key>
			<string>0</string>
			<key>num_1</key>
			<string>0</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>0</string>
			<key>num_3</key>
			<string>0</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>100005</key>
		<dict>
			<key>card_id</key>
			<string>100005</string>
			<key>coin</key>
			<string>1800</string>
			<key>item_1</key>
			<string>200001</string>
			<key>num_1</key>
			<string>2</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>0</string>
			<key>num_3</key>
			<string>0</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>100008</key>
		<dict>
			<key>card_id</key>
			<string>100008</string>
			<key>coin</key>
			<string>1000</string>
			<key>item_1</key>
			<string>200001</string>
			<key>num_1</key>
			<string>2</string>
			<key>item_2</key>
			<string>200002</string>
			<key>num_2</key>
			<string>3</string>
			<key>item_3</key>
			<string>0</string>
			<key>num_3</key>
			<string>0</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>100009</key>
		<dict>
			<key>card_id</key>
			<string>100009</string>
			<key>coin</key>
			<string>1800</string>
			<key>item_1</key>
			<string>0</string>
			<key>num_1</key>
			<string>0</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>200003</string>
			<key>num_3</key>
			<string>3</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>110003</key>
		<dict>
			<key>card_id</key>
			<string>110003</string>
			<key>coin</key>
			<string>3500</string>
			<key>item_1</key>
			<string>0</string>
			<key>num_1</key>
			<string>0</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>0</string>
			<key>num_3</key>
			<string>0</string>
			<key>item_4</key>
			<string>200004</string>
			<key>num_4</key>
			<string>5</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>120000</key>
		<dict>
			<key>card_id</key>
			<string>120000</string>
			<key>coin</key>
			<string>1800</string>
			<key>item_1</key>
			<string>0</string>
			<key>num_1</key>
			<string>0</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>200003</string>
			<key>num_3</key>
			<string>3</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>200005</string>
			<key>num_5</key>
			<string>2</string>
			<key>item_6</key>
			<string>0</string>
			<key>num_6</key>
			<string>0</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
		<key>110007</key>
		<dict>
			<key>card_id</key>
			<string>110007</string>
			<key>coin</key>
			<string>2000</string>
			<key>item_1</key>
			<string>0</string>
			<key>num_1</key>
			<string>0</string>
			<key>item_2</key>
			<string>0</string>
			<key>num_2</key>
			<string>0</string>
			<key>item_3</key>
			<string>0</string>
			<key>num_3</key>
			<string>0</string>
			<key>item_4</key>
			<string>0</string>
			<key>num_4</key>
			<string>0</string>
			<key>item_5</key>
			<string>0</string>
			<key>num_5</key>
			<string>0</string>
			<key>item_6</key>
			<string>200006</string>
			<key>num_6</key>
			<string>5</string>
			<key>item_7</key>
			<string>0</string>
			<key>num_7</key>
			<string>0</string>
		</dict>
	</dict>
</plist>

