<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>level</key>
		<string>2</string>
		<key>attack</key>
		<string>50</string>
		<key>defend</key>
		<string>5</string>
		<key>hp</key>
		<string>110</string>
		<key>exp</key>
		<string>128</string>
		<key>conin</key>
		<string>1800</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>0</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>3</key>
	<dict>
		<key>level</key>
		<string>3</string>
		<key>attack</key>
		<string>50</string>
		<key>defend</key>
		<string>5</string>
		<key>hp</key>
		<string>110</string>
		<key>exp</key>
		<string>160</string>
		<key>conin</key>
		<string>3500</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>0</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>4</key>
	<dict>
		<key>level</key>
		<string>4</string>
		<key>attack</key>
		<string>51</string>
		<key>defend</key>
		<string>6</string>
		<key>hp</key>
		<string>110</string>
		<key>exp</key>
		<string>192</string>
		<key>conin</key>
		<string>4600</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>3</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>5</key>
	<dict>
		<key>level</key>
		<string>5</string>
		<key>attack</key>
		<string>51</string>
		<key>defend</key>
		<string>6</string>
		<key>hp</key>
		<string>111</string>
		<key>exp</key>
		<string>224</string>
		<key>conin</key>
		<string>5850</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>0</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>6</key>
	<dict>
		<key>level</key>
		<string>6</string>
		<key>attack</key>
		<string>51</string>
		<key>defend</key>
		<string>6</string>
		<key>hp</key>
		<string>111</string>
		<key>exp</key>
		<string>256</string>
		<key>conin</key>
		<string>7100</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>3</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>7</key>
	<dict>
		<key>level</key>
		<string>7</string>
		<key>attack</key>
		<string>51</string>
		<key>defend</key>
		<string>6</string>
		<key>hp</key>
		<string>111</string>
		<key>exp</key>
		<string>416</string>
		<key>conin</key>
		<string>8350</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>2</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>0</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
	<key>8</key>
	<dict>
		<key>level</key>
		<string>8</string>
		<key>attack</key>
		<string>51</string>
		<key>defend</key>
		<string>6</string>
		<key>hp</key>
		<string>111</string>
		<key>exp</key>
		<string>448</string>
		<key>conin</key>
		<string>9600</string>
		<key>star_param_1</key>
		<string>1</string>
		<key>star_param_2</key>
		<string>1</string>
		<key>star_param_3</key>
		<string>1</string>
		<key>star_param_4</key>
		<string>1</string>
		<key>star_param_5</key>
		<string>1</string>
		<key>star_param_6</key>
		<string>2</string>
		<key>star_param_7</key>
		<string>1</string>
		<key>correct_param</key>
		<string>1</string>
		<key>correct_value_1</key>
		<string>0</string>
		<key>correct_value_2</key>
		<string>0</string>
	</dict>
</dict>
</plist>
