<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>559801</key>
	<dict>
		<key>id</key>
		<string>559801</string>
		<key>min</key>
		<string>1</string>
		<key>max</key>
		<string>5</string>
		<key>card_soul</key>
		<string>200</string>
		<key>coin</key>
		<string>200</string>
	</dict>
	<key>559802</key>
	<dict>
		<key>id</key>
		<string>559802</string>
		<key>min</key>
		<string>6</string>
		<key>max</key>
		<string>20</string>
		<key>card_soul</key>
		<string>100</string>
		<key>coin</key>
		<string>100</string>
	</dict>
	<key>559803</key>
	<dict>
		<key>id</key>
		<string>559803</string>
		<key>min</key>
		<string>21</string>
		<key>max</key>
		<string>50</string>
		<key>card_soul</key>
		<string>50</string>
		<key>coin</key>
		<string>50</string>
	</dict>
	<key>559804</key>
	<dict>
		<key>id</key>
		<string>559804</string>
		<key>min</key>
		<string>51</string>
		<key>max</key>
		<string>200</string>
		<key>card_soul</key>
		<string>20</string>
		<key>coin</key>
		<string>20</string>
	</dict>
	<key>559805</key>
	<dict>
		<key>id</key>
		<string>559805</string>
		<key>min</key>
		<string>201</string>
		<key>max</key>
		<string>500</string>
		<key>card_soul</key>
		<string>10</string>
		<key>coin</key>
		<string>10</string>
	</dict>
	<key>559806</key>
	<dict>
		<key>id</key>
		<string>559806</string>
		<key>min</key>
		<string>500</string>
		<key>max</key>
		<string>3000</string>
		<key>card_soul</key>
		<string>5</string>
		<key>coin</key>
		<string>5</string>
	</dict>
</dict>
</plist>
