<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>599911</key>
	<dict>
		<key>id</key>
		<string>599911</string>
		<key>type</key>
		<string>1</string>
		<key>high</key>
		<string>1</string>
		<key>low</key>
		<string>1</string>
		<key>coin</key>
		<string>47700</string>
		<key>exp</key>
		<string>500</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>5</string>
	</dict>
	<key>599912</key>
	<dict>
		<key>id</key>
		<string>599912</string>
		<key>type</key>
		<string>1</string>
		<key>high</key>
		<string>2</string>
		<key>low</key>
		<string>3</string>
		<key>coin</key>
		<string>41075</string>
		<key>exp</key>
		<string>400</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>3</string>
	</dict>
	<key>599913</key>
	<dict>
		<key>id</key>
		<string>599913</string>
		<key>type</key>
		<string>1</string>
		<key>high</key>
		<string>4</string>
		<key>low</key>
		<string>10</string>
		<key>coin</key>
		<string>34450</string>
		<key>exp</key>
		<string>350</string>
		<key>item</key>
		<string></string>
		<key>num</key>
		<string>2</string>
	</dict>
	<key>599914</key>
	<dict>
		<key>id</key>
		<string>599914</string>
		<key>type</key>
		<string>1</string>
		<key>high</key>
		<string>11</string>
		<key>low</key>
		<string>30</string>
		<key>coin</key>
		<string>31800</string>
		<key>exp</key>
		<string>300</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
	<key>599915</key>
	<dict>
		<key>id</key>
		<string>599915</string>
		<key>type</key>
		<string>1</string>
		<key>high</key>
		<string>31</string>
		<key>low</key>
		<string>100</string>
		<key>coin</key>
		<string>29150</string>
		<key>exp</key>
		<string>250</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
	<key>599921</key>
	<dict>
		<key>id</key>
		<string>599921</string>
		<key>type</key>
		<string>2</string>
		<key>high</key>
		<string>1</string>
		<key>low</key>
		<string>1</string>
		<key>coin</key>
		<string>47700</string>
		<key>exp</key>
		<string>500</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>5</string>
	</dict>
	<key>599922</key>
	<dict>
		<key>id</key>
		<string>599922</string>
		<key>type</key>
		<string>2</string>
		<key>high</key>
		<string>2</string>
		<key>low</key>
		<string>3</string>
		<key>coin</key>
		<string>41075</string>
		<key>exp</key>
		<string>400</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>3</string>
	</dict>
	<key>599923</key>
	<dict>
		<key>id</key>
		<string>599923</string>
		<key>type</key>
		<string>2</string>
		<key>high</key>
		<string>4</string>
		<key>low</key>
		<string>10</string>
		<key>coin</key>
		<string>34450</string>
		<key>exp</key>
		<string>350</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>2</string>
	</dict>
	<key>599924</key>
	<dict>
		<key>id</key>
		<string>599924</string>
		<key>type</key>
		<string>2</string>
		<key>high</key>
		<string>11</string>
		<key>low</key>
		<string>30</string>
		<key>coin</key>
		<string>31800</string>
		<key>exp</key>
		<string>300</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
	<key>599925</key>
	<dict>
		<key>id</key>
		<string>599925</string>
		<key>type</key>
		<string>2</string>
		<key>high</key>
		<string>31</string>
		<key>low</key>
		<string>100</string>
		<key>coin</key>
		<string>29150</string>
		<key>exp</key>
		<string>250</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
	<key>599931</key>
	<dict>
		<key>id</key>
		<string>599931</string>
		<key>type</key>
		<string>3</string>
		<key>high</key>
		<string>1</string>
		<key>low</key>
		<string>1</string>
		<key>coin</key>
		<string>47700</string>
		<key>exp</key>
		<string>500</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>5</string>
	</dict>
	<key>599932</key>
	<dict>
		<key>id</key>
		<string>599932</string>
		<key>type</key>
		<string>3</string>
		<key>high</key>
		<string>2</string>
		<key>low</key>
		<string>3</string>
		<key>coin</key>
		<string>41075</string>
		<key>exp</key>
		<string>400</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>3</string>
	</dict>
	<key>599933</key>
	<dict>
		<key>id</key>
		<string>599933</string>
		<key>type</key>
		<string>3</string>
		<key>high</key>
		<string>4</string>
		<key>low</key>
		<string>10</string>
		<key>coin</key>
		<string>34450</string>
		<key>exp</key>
		<string>350</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>2</string>
	</dict>
	<key>599934</key>
	<dict>
		<key>id</key>
		<string>599934</string>
		<key>type</key>
		<string>3</string>
		<key>high</key>
		<string>11</string>
		<key>low</key>
		<string>30</string>
		<key>coin</key>
		<string>31800</string>
		<key>exp</key>
		<string>300</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
	<key>599935</key>
	<dict>
		<key>id</key>
		<string>599935</string>
		<key>type</key>
		<string>3</string>
		<key>high</key>
		<string>31</string>
		<key>low</key>
		<string>100</string>
		<key>coin</key>
		<string>29150</string>
		<key>exp</key>
		<string>250</string>
		<key>item</key>
		<string>901050</string>
		<key>num</key>
		<string>1</string>
	</dict>
</dict>
</plist>
