<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>600201</key>
	<dict>
		<key>id</key>
		<string>600201</string>
		<key>plan</key>
		<string>2</string>
		<key>word</key>
		<string>210006</string>
		<key>pic</key>
		<string>fighting/card_role_001.png</string>
		<key>soundeffects</key>
		<string>1111.wav</string>
		<key>effect</key>
		<string>bb.plist</string>
	</dict>
	<key>600002</key>
	<dict>
		<key>id</key>
		<string>600002</string>
		<key>plan</key>
		<string>2</string>
		<key>word</key>
		<string>210002</string>
		<key>pic</key>
		<string>fighting/card_role_002.png</string>
		<key>soundeffects</key>
		<string>1111.wav</string>
		<key>effect</key>
		<string>bb.plist</string>
	</dict>
	<key>600101</key>
	<dict>
		<key>id</key>
		<string>600101</string>
		<key>plan</key>
		<string>1</string>
		<key>word</key>
		<string>210003</string>
		<key>pic</key>
		<string>fighting/card_role_002.png</string>
		<key>soundeffects</key>
		<string>1111.wav</string>
		<key>effect</key>
		<string>bb.plist</string>
	</dict>
	<key>600202</key>
	<dict>
		<key>id</key>
		<string>600202</string>
		<key>plan</key>
		<string>2</string>
		<key>word</key>
		<string>210004</string>
		<key>pic</key>
		<string>fighting/card_role_001.png</string>
		<key>soundeffects</key>
		<string>1111.wav</string>
		<key>effect</key>
		<string>bb.plist</string>
	</dict>
	<key>600203</key>
	<dict>
		<key>id</key>
		<string>600203</string>
		<key>plan</key>
		<string>1</string>
		<key>word</key>
		<string>210005</string>
		<key>pic</key>
		<string>fighting/card_role_002.png</string>
		<key>soundeffects</key>
		<string>1111.wav</string>
		<key>effect</key>
		<string>bb.plist</string>
	</dict>
</dict>
</plist>
