<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>600001</key>
		<dict>
			<key>id</key>
			<string>600001</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600001</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600002</key>
		<dict>
			<key>id</key>
			<string>600002</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600002</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600003</key>
		<dict>
			<key>id</key>
			<string>600003</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600003</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600004</key>
		<dict>
			<key>id</key>
			<string>600004</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600004</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600005</key>
		<dict>
			<key>id</key>
			<string>600005</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600005</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600006</key>
		<dict>
			<key>id</key>
			<string>600006</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600006</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600007</key>
		<dict>
			<key>id</key>
			<string>600007</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600007</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600008</key>
		<dict>
			<key>id</key>
			<string>600008</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600008</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600009</key>
		<dict>
			<key>id</key>
			<string>600009</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600009</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600010</key>
		<dict>
			<key>id</key>
			<string>600010</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600010</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600011</key>
		<dict>
			<key>id</key>
			<string>600011</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600011</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600012</key>
		<dict>
			<key>id</key>
			<string>600012</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600012</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600101</key>
		<dict>
			<key>id</key>
			<string>600101</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600101</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1111.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600102</key>
		<dict>
			<key>id</key>
			<string>600102</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600102</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1112.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600103</key>
		<dict>
			<key>id</key>
			<string>600103</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600103</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1113.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600104</key>
		<dict>
			<key>id</key>
			<string>600104</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600104</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1114.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600105</key>
		<dict>
			<key>id</key>
			<string>600105</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600105</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1115.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600106</key>
		<dict>
			<key>id</key>
			<string>600106</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600106</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1116.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600107</key>
		<dict>
			<key>id</key>
			<string>600107</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600107</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1117.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600108</key>
		<dict>
			<key>id</key>
			<string>600108</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600108</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1118.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600109</key>
		<dict>
			<key>id</key>
			<string>600109</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600109</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1119.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600110</key>
		<dict>
			<key>id</key>
			<string>600110</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600110</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1120.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600111</key>
		<dict>
			<key>id</key>
			<string>600111</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600111</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1121.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600201</key>
		<dict>
			<key>id</key>
			<string>600201</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600201</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1122.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600202</key>
		<dict>
			<key>id</key>
			<string>600202</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600202</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1123.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600203</key>
		<dict>
			<key>id</key>
			<string>600203</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600203</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1124.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600204</key>
		<dict>
			<key>id</key>
			<string>600204</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600204</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1125.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600205</key>
		<dict>
			<key>id</key>
			<string>600205</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600205</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1126.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600206</key>
		<dict>
			<key>id</key>
			<string>600206</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600206</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1127.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600207</key>
		<dict>
			<key>id</key>
			<string>600207</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600207</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1128.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600208</key>
		<dict>
			<key>id</key>
			<string>600208</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600208</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1129.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600209</key>
		<dict>
			<key>id</key>
			<string>600209</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600209</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1130.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600210</key>
		<dict>
			<key>id</key>
			<string>600210</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600210</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1131.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600211</key>
		<dict>
			<key>id</key>
			<string>600211</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600211</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1132.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600212</key>
		<dict>
			<key>id</key>
			<string>600212</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600212</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1133.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600213</key>
		<dict>
			<key>id</key>
			<string>600213</string>
			<key>plan</key>
			<string>1</string>
			<key>word</key>
			<string>600213</string>
			<key>pic</key>
			<string>fighting/card_role_001.png</string>
			<key>soundeffects</key>
			<string>1134.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
		<key>600214</key>
		<dict>
			<key>id</key>
			<string>600214</string>
			<key>plan</key>
			<string>2</string>
			<key>word</key>
			<string>600214</string>
			<key>pic</key>
			<string>fighting/card_role_002.png</string>
			<key>soundeffects</key>
			<string>1135.wav</string>
			<key>effect</key>
			<string>bb.plist</string>
		</dict>
	</dict>
</plist>

