<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>100000</key>
		<string>旧技能：普通攻击</string>
		<key>100001</key>
		<string>旧技能：旧酒后火</string>
		<key>100002</key>
		<string>旧技能：酒</string>
		<key>100003</key>
		<string>旧技能：消怒</string>
		<key>100004</key>
		<string>旧技能：加怒</string>
		<key>200000</key>
		<string>测试基础事件说明1</string>
		<key>200001</key>
		<string>测试基础事件说明2</string>
		<key>200002</key>
		<string>测试基础事件说明3</string>
		<key>200003</key>
		<string>测试基础事件说明4</string>
		<key>200004</key>
		<string>测试基础事件说明5</string>
		<key>200005</key>
		<string>测试基础事件说明6</string>
		<key>200006</key>
		<string>测试基础事件说明7</string>
		<key>200007</key>
		<string>测试基础事件说明8</string>
		<key>200008</key>
		<string>测试基础事件说明9</string>
		<key>200009</key>
		<string>测试基础事件说明10</string>
		<key>200010</key>
		<string>测试基础事件说明11</string>
		<key>200011</key>
		<string>测试基础事件说明12</string>
		<key>200012</key>
		<string>测试基础事件说明13</string>
		<key>200013</key>
		<string>测试基础事件说明14</string>
		<key>200041</key>
		<string>哈哈，你接受了王老板的钥匙，卡牌血量提升10%</string>
		<key>200042</key>
		<string>王老板带着他的小姨子跑了，卡牌攻击力降低10%</string>
		<key>200043</key>
		<string>炉石传说啊，抢不到号啊，卡牌防御力降低15%</string>
		<key>300000</key>
		<string>在战场上即将死去的佣兵见到了女武神瓦尔基里，但由于对人世间强烈的执着让他对瓦尔基里发起了攻击。当佣兵的剑与瓦尔基里的剑相交到一起时发生了剧烈的爆炸。而再醒来的佣兵，却已经来到了另一个世界。</string>
		<key>300001</key>
		<string>醒来的佣兵来到了神界，而在它身边已经有一个人，就如同在等着他的到来一般。陌生的环境，敌我不分的邂逅，佣兵是否该朝着金宫前进</string>
		<key>300100</key>
		<string>佣兵接受了奥丁的任务，前往铁森林寻找英灵，但在内心中却一直存在着反抗意识，脑子里也有着无数的谜团。虽然对于凯瑟琳的身份仍有诸多疑问，但毫无办法的佣兵只能选择相信，因为这是他唯一的希望。</string>
		<key>300101</key>
		<string>铁森林是连接人界和巨人国度的天然屏障，从来没有人可以安然的穿越整个铁森林。而这一次的任务也仅仅只是在铁森林边缘进行，这里有着人类最偏僻的村庄。</string>
		<key>300102</key>
		<string>进入铁森林边缘地带后两人并没有发现异常，在陆续的清楚一些野兽后也放低了警惕，而此时两人并未感觉到气温的逐渐下降，当凯瑟琳终于发现地上已经结霜之后，一直隐藏着的敌人已经举起了利爪。</string>
		<key>300103</key>
		<string>测试第一章第三节描述</string>
		<key>300104</key>
		<string>测试第一章第四节描述</string>
		<key>300105</key>
		<string>测试第一章第五节描述</string>
		<key>300106</key>
		<string>测试第一章第六节描述</string>
		<key>300107</key>
		<string>测试第一章第七节描述</string>
		<key>300108</key>
		<string>测试第一章第八节描述</string>
		<key>300109</key>
		<string>测试第一章第九节描述</string>
		<key>300200</key>
		<string>第二章描述</string>
		<key>300300</key>
		<string>第三章描述</string>
		<key>300400</key>
		<string>第四章描述</string>
		<key>300500</key>
		<string>第五章描述</string>
		<key>300600</key>
		<string>第六章描述</string>
		<key>300700</key>
		<string>第七章描述</string>
		<key>300800</key>
		<string>第八章描述</string>
		<key>300900</key>
		<string>第九章描述</string>
		<key>500000</key>
		<string>测试任务描述1</string>
		<key>501010</key>
		<string>测试任务描述2</string>
		<key>501020</key>
		<string>测试任务描述3</string>
		<key>501030</key>
		<string>测试任务描述4</string>
		<key>501040</key>
		<string>测试任务描述5</string>
		<key>501050</key>
		<string>测试任务描述6</string>
		<key>501060</key>
		<string>测试任务描述7</string>
		<key>501070</key>
		<string>测试任务描述8</string>
		<key>501080</key>
		<string>测试任务描述9</string>
		<key>501090</key>
		<string>测试任务描述10</string>
		<key>600001</key>
		<string>哎~~~ 大忽悠！大忽悠！</string>
		<key>600002</key>
		<string>对话2</string>
		<key>600002</key>
		<string>喊啥大忽悠，当大伙面，别叫我艺名行不行？</string>
		<key>600003</key>
		<string>孩儿他爸</string>
		<key>600004</key>
		<string>哎</string>
		<key>600005</key>
		<string>要我说这个拐就别卖啦！</string>
		<key>600006</key>
		<string>你别说那话，不卖了，做这副拐又搭工又搭料，一天一宿没睡觉，不卖不赔了吗？</string>
		<key>600007</key>
		<string>这满大街都是腿脚好的，谁买你那玩意啊？</string>
		<key>600008</key>
		<string>这啥话，你还不知道我强项，还叫我大忽悠呢。我能把正的忽悠正邪了，能把奸人忽悠乜了，小两口过的挺好，我给他忽悠分别了。今天卖拐，一双好腿我能给他忽悠瘸了！</string>
		<key>600009</key>
		<string>哈哈，你可拉倒吧</string>
		<key>600010</key>
		<string>信不信？</string>
		<key>600011</key>
		<string>我就不信人家好好的腿你就能给人忽悠瘸了？</string>
		<key>600012</key>
		<string>这就是我强项。</string>
		<key>600101</key>
		<string>对话3</string>
		<key>600101</key>
		<string>你能信吗？</string>
		<key>600102</key>
		<string>你得说出来呀。</string>
		<key>600103</key>
		<string/>
		<key>600104</key>
		<string>我没觉着哪儿不一样，我就觉着我这脸越来越大呀？</string>
		<key>600105</key>
		<string>对了，这不是主要病症！你知道你的脸为什么大吗？</string>
		<key>600106</key>
		<string>为啥？</string>
		<key>600107</key>
		<string>是你的末梢神经坏死把上边憋大了。</string>
		<key>600108</key>
		<string>那是哪憋的呢？</string>
		<key>600109</key>
		<string>腰部以下~~~ 脚往上~~~</string>
		<key>600110</key>
		<string>腿呀？</string>
		<key>600111</key>
		<string>对头！</string>
		<key>600201</key>
		<string>对话1</string>
		<key>600201</key>
		<string>对话6</string>
		<key>600201</key>
		<string>不对，我腿没啥病！</string>
		<key>600202</key>
		<string>对话4</string>
		<key>600202</key>
		<string>没病？你腿就有病！</string>
		<key>600203</key>
		<string>对话5</string>
		<key>600203</key>
		<string>啥病呀</string>
		<key>600204</key>
		<string>走两步！走两步！没病走两步！你想看病吗，看病就走两步！</string>
		<key>600205</key>
		<string>行行~~~ 走两步走走走两步走两步走两步~~~</string>
		<key>600206</key>
		<string>停！你鞋没毛病吧？</string>
		<key>600207</key>
		<string>有啥毛病呀？</string>
		<key>600208</key>
		<string>一跟高一跟低？</string>
		<key>600209</key>
		<string>这是旅游鞋死跟地！</string>
		<key>600210</key>
		<string>对头，就是是你的腿有病，有一条腿短！</string>
		<key>600211</key>
		<string>没那个事儿！我要一条腿长，一条腿短的话，那卖裤子人就告诉我了！</string>
		<key>600212</key>
		<string>卖裤子的告诉你你还买裤子么，谁像我这么实惠呀？</string>
		<key>600213</key>
		<string>是</string>
		<key>600214</key>
		<string>这样吧，我给你调调。信不信，你的腿随着我的手往高抬，能抬多高抬多高，我让你往下落你就随便使劲往下落，好不好？信不信？腿指定有病，右腿短！来，起来！</string>
		<key>700000</key>
		<string>普通攻击，对敌方卡牌造成普通伤害</string>
		<key>700001</key>
		<string>对敌方出战卡造成水属性伤害，若敌方挂有泡沫buff则造成冰冻效果</string>
		<key>700002</key>
		<string>对敌方出战卡造成水属性伤害，若敌方挂有火属性buff则提升自身攻击力</string>
		<key>700003</key>
		<string>对敌方出战卡造成水属性伤害，若敌方挂有光属性buff则降低对方防御力</string>
		<key>700004</key>
		<string>对敌方出战卡造成水属性伤害，若敌方挂有暗属性buff则造成额外伤害</string>
		<key>700005</key>
		<string>对敌方出战卡造成火属性伤害，若敌方挂有油墨buff则造成点燃效果</string>
		<key>700006</key>
		<string>对敌方出战卡造成火属性伤害，若敌方挂有水属性buff则提升自己攻击力</string>
		<key>700007</key>
		<string>对敌方出战卡造成火属性伤害，若敌方挂有光属性buff则造成额外伤害</string>
		<key>700008</key>
		<string>对敌方出战卡造成火属性伤害，若敌方挂有暗属性buff则降低对方防御力</string>
		<key>700009</key>
		<string>对敌方出战卡造成光属性伤害，若敌方挂有感电buff则无视敌方一部分防御</string>
		<key>700010</key>
		<string>对敌方出战卡造成光属性伤害，若敌方挂有水属性buff则降低对方防御力</string>
		<key>700011</key>
		<string>对敌方出战卡造成光属性伤害，若敌方挂有火属性buff则造成额外伤害</string>
		<key>700012</key>
		<string>对敌方出战卡造成光属性伤害，若敌方挂有暗属性buff则提升自己攻击力</string>
		<key>700013</key>
		<string>对敌方出战卡造成暗属性伤害，若敌方挂有失明buff则造成暗黑无边</string>
		<key>700014</key>
		<string>对敌方出战卡造成暗属性伤害，若敌方挂有水属性buff则造成额外伤害</string>
		<key>700015</key>
		<string>对敌方出战卡造成暗属性伤害，若敌方挂有火属性buff则降低对方防御力</string>
		<key>700016</key>
		<string>对敌方出战卡造成暗属性伤害，若敌方挂有光属性buff则提升自己攻击力</string>
		<key>700017</key>
		<string>对敌方出战卡造成暗属性伤害并附加暗属性标记</string>
		<key>700018</key>
		<string>对敌方出战卡造成水属性伤害并附加水属性标记</string>
		<key>700019</key>
		<string>对敌方出战卡造成火属性伤害并附加火属性标记</string>
		<key>700020</key>
		<string>对敌方出战卡造成光属性伤害并附加光属性标记</string>
		<key>700021</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为机械则无视敌方一部分防御</string>
		<key>700022</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为武器则降低对方防御力</string>
		<key>700023</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为拳法则增加自身攻击力</string>
		<key>700024</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为超能则造成额外伤害</string>
		<key>700025</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为武器则无视敌方一部分防御</string>
		<key>700026</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为机械则降低敌方防御力</string>
		<key>700027</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为拳法则造成额外伤害</string>
		<key>700028</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为超能则提升自己攻击力</string>
		<key>700029</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为拳法则无视一部分防御</string>
		<key>700030</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为武器则造成额外伤害</string>
		<key>700031</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为机械则提升自己攻击力</string>
		<key>700032</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为超能则降低对方防御力</string>
		<key>700033</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为超能则无视一部分防御</string>
		<key>700034</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为机械则造成额外伤害</string>
		<key>700035</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为武器则提升自身攻击力</string>
		<key>700036</key>
		<string>对敌方出战卡造成无属性伤害，若敌方为拳法则降低对方防御力</string>
		<key>700037</key>
		<string>对敌方出战卡造成暗属性伤害并附加泡沫buff</string>
		<key>700038</key>
		<string>对敌方出战卡造成暗属性伤害并附加油墨buff</string>
		<key>700039</key>
		<string>对敌方出战卡造成暗属性伤害并附加感电buff</string>
		<key>700040</key>
		<string>对敌方出战卡造成暗属性伤害并附加失明buff</string>
		<key>700041</key>
		<string>无属性怒气技能</string>
		<key>700042</key>
		<string>援护为我方主卡施放狂暴buff</string>
		<key>702041</key>
		<string>王老板的钥匙一串，下次战斗卡牌血量提升10%</string>
		<key>702042</key>
		<string>王老板的小姨子跑了一个，下次战斗卡牌攻击力降低10%</string>
		<key>702043</key>
		<string>炉石传说，抢不到号，卡牌防御力降低15%，持续10分钟</string>
		<key>800101</key>
		<string/>
		<key>800102</key>
		<string>我们没有办法，拿着道具抵工资！原价都是一百多、两百多、三百多的道具，统统二十块！统统二十块！！</string>
		<key>800103</key>
		<string>王老板！你不是人！我们辛辛苦苦给你干了大半年，你不发工资！你还我血汗钱！还我血汗钱！</string>
		<key>900004</key>
		<string>购买扩充卡库</string>
		<key>900005</key>
		<string>抽取有几率获得得机器猫一张</string>
		<key>900006</key>
		<string>抽取有纪律获得多啦a美一张</string>
		<key>900007</key>
		<string>抽取有纪律获得土豪金卡一张</string>
		<key>901000</key>
		<string>使用可提升250点幸运值</string>
		<key>901001</key>
		<string>使用可补充20体力</string>
		<key>901002</key>
		<string>使用可补充50体力</string>
		<key>901006</key>
		<string>使用可补充20神力</string>
		<key>901007</key>
		<string>使用可补充50神力</string>
		<key>901009</key>
		<string>使用后，信春哥</string>
		<key>901011</key>
		<string>使用可获得500经验</string>
		<key>901012</key>
		<string>使用可获得1000经验</string>
		<key>901016</key>
		<string>使用可获得2000金币</string>
		<key>901031</key>
		<string>使用后，10分钟内的金币获得增加15%</string>
		<key>901032</key>
		<string>使用后，10分钟内的经验获得增加20%</string>
		<key>901033</key>
		<string>使用后，10分钟内获得金币翻倍</string>
		<key>901034</key>
		<string>使用后，10分钟内获得经验翻倍</string>
		<key>901035</key>
		<string>使用后，接下来6此额外获得50金币</string>
		<key>901036</key>
		<string>使用后，接下来6此额外获得80点经验</string>
		<key>901050</key>
		<string>使用后，免费进行一次“绝·英灵祭”抽卡</string>
		<key>901060</key>
		<string>副本中才可使用，使用后得知下一步的事件类型</string>
		<key>901070</key>
		<string>副本中可用，保存副本进度并推出</string>
		<key>901080</key>
		<string>探索中使用，用于清楚神坛debuff</string>
		<key>901090</key>
		<string>使用可获得新手礼品</string>
		<key>901091</key>
		<string>10级可使用，获得阶段性等级奖励</string>
		<key>901092</key>
		<string>20级可使用，获得阶段性等级奖励</string>
		<key>901093</key>
		<string>30级可使用，获得阶段性等级奖励</string>
		<key>901094</key>
		<string>40级可使用，获得阶段性等级奖励</string>
		<key>901095</key>
		<string>50级可使用，获得阶段性等级奖励</string>
		<key>901301</key>
		<string>进化材料1，用于卡牌进化</string>
		<key>901302</key>
		<string>进化材料2，用于卡牌进化</string>
		<key>901303</key>
		<string>进化材料3，用于卡牌进化</string>
		<key>901304</key>
		<string>进化材料4，用于卡牌进化</string>
		<key>901305</key>
		<string>进化材料5，用于卡牌进化</string>
		<key>901306</key>
		<string>进化材料6，用于卡牌进化</string>
		<key>901307</key>
		<string>进化材料7，用于卡牌进化</string>
		<key>907000</key>
		<string>你使用了幸运药水，幸运值增加了250</string>
		<key>907001</key>
		<string>你使用了小体力药水，补充了20点体力</string>
		<key>907002</key>
		<string>你使用了大体力药水，补充了50点体力</string>
		<key>907006</key>
		<string>你使用了小神力药水，补充了20点神力</string>
		<key>907007</key>
		<string>你使用了大神力药水，补充了50点神力</string>
		<key>907009</key>
		<string>你试用了医保卡，信春哥，得永生</string>
		<key>907011</key>
		<string>你使用了小经验书，获得500点经验</string>
		<key>907012</key>
		<string>你使用了大经验书，获得了1000点经验</string>
		<key>907016</key>
		<string>你使用了银行卡，获得了2000金币</string>
		<key>907020</key>
		<string>你购买了扩展卡库，增加了10个卡库</string>
		<key>907031</key>
		<string>10分钟之内，金币收益增加15%</string>
		<key>907032</key>
		<string>10分钟之内，经验收益增加20%</string>
		<key>907033</key>
		<string>10分钟之内，金币收益变双倍</string>
		<key>907034</key>
		<string>10分钟之内，经验收益变双倍</string>
		<key>907035</key>
		<string>接下来10次，可额外获得50点金币</string>
		<key>907036</key>
		<string>接下来10次，可额外获得80点经验</string>
		<key>907040</key>
		<string>你抽取了商人卡包</string>
		<key>907051</key>
		<string>你试用了扭蛋券</string>
		<key>940001</key>
		<string>花费25点神力开启宝箱</string>
		<key>940002</key>
		<string>获得奖励</string>
		<key>940003</key>
		<string>损失250金币，获得奖励</string>
		<key>940004</key>
		<string>纯伤害，现在为空</string>
		<key>970000</key>
		<string/>
		<key>999991</key>
		<string>测试1</string>
		<key>999992</key>
		<string>测试2</string>
		<key>999993</key>
		<string>测试3</string>
		<key>999994</key>
		<string>测试4</string>
		<key>999995</key>
		<string>测试5</string>
		<key>999996</key>
		<string>测试6</string>
		<key>999997</key>
		<string>测试7</string>
		<key>999998</key>
		<string>测试8</string>
		<key>999999</key>
		<string>测试9</string>
		<key>309901</key>
		<string>1、 %s 运气爆棚，从花名册中抽到了 %s，小伙伴们都惊呆了</string>
		<key>309902</key>
		<string>2、天降奇光，%s 获得了 %s</string>
		<key>309903</key>
		<string>3、材料副本每周一、二开启，参与可以获得大量材料，同学们再也不用担心卡牌进化了</string>
		<key>319901</key>
		<string>现在登录有好礼，赶紧去活动领取</string>
		<key>319902</key>
		<string>新一期的充值返利开启了，同学们赶紧行动吧</string>
		<key>309900</key>
		<string>当前抽卡模式下，你还可进行%d次抽卡</string>
	</dict>
</plist>

