<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>961001</key>
	<dict>
		<key>drop_id</key>
		<string>961001</string>
		<key>item_1</key>
		<string>110004</string>
		<key>num_1</key>
		<string>1</string>
		<key>item_2</key>
		<string>100004</string>
		<key>num_2</key>
		<string>1</string>
		<key>item_3</key>
		<string>130002</string>
		<key>num_3</key>
		<string>2</string>
		<key>item_4</key>
		<string>120000</string>
		<key>num_4</key>
		<string>2</string>
		<key>item_5</key>
		<string>140008</string>
		<key>num_5</key>
		<string>1</string>
	</dict>
	<key>962001</key>
	<dict>
		<key>drop_id</key>
		<string>962001</string>
		<key>item_1</key>
		<string>901000</string>
		<key>num_1</key>
		<string>2</string>
		<key>item_2</key>
		<string>901001</string>
		<key>num_2</key>
		<string>1</string>
		<key>item_3</key>
		<string>901006</string>
		<key>num_3</key>
		<string>1</string>
		<key>item_4</key>
		<string>901035</string>
		<key>num_4</key>
		<string>1</string>
		<key>item_5</key>
		<string>901036</string>
		<key>num_5</key>
		<string>1</string>
	</dict>
	<key>963001</key>
	<dict>
		<key>drop_id</key>
		<string>963001</string>
		<key>item_1</key>
		<string>901001</string>
		<key>num_1</key>
		<string>100</string>
		<key>item_2</key>
		<string>901001</string>
		<key>num_2</key>
		<string>500</string>
		<key>item_3</key>
		<string>901001</string>
		<key>num_3</key>
		<string>1000</string>
		<key>item_4</key>
		<string>0</string>
		<key>num_4</key>
		<string>0</string>
		<key>item_5</key>
		<string>0</string>
		<key>num_5</key>
		<string>0</string>
	</dict>
	<key>964001</key>
	<dict>
		<key>drop_id</key>
		<string>964001</string>
		<key>item_1</key>
		<string>901002</string>
		<key>num_1</key>
		<string>1</string>
		<key>item_2</key>
		<string>901002</string>
		<key>num_2</key>
		<string>2</string>
		<key>item_3</key>
		<string>901002</string>
		<key>num_3</key>
		<string>5</string>
		<key>item_4</key>
		<string>0</string>
		<key>num_4</key>
		<string>0</string>
		<key>item_5</key>
		<string>0</string>
		<key>num_5</key>
		<string>0</string>
	</dict>
</dict>
</plist>
