<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>200000</key>
		<dict>
			<key>event_id</key>
			<string>200000</string>
			<key>event_name</key>
			<string>测试战斗事件1</string>
			<key>event_tips</key>
			<string>200000</string>
			<key>event_type</key>
			<string>1</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200001</key>
		<dict>
			<key>event_id</key>
			<string>200001</string>
			<key>event_name</key>
			<string>测试boss1</string>
			<key>event_tips</key>
			<string>200001</string>
			<key>event_type</key>
			<string>2</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>20</string>
		</dict>
		<key>200002</key>
		<dict>
			<key>event_id</key>
			<string>200002</string>
			<key>event_name</key>
			<string>测试战斗事件2</string>
			<key>event_tips</key>
			<string>200002</string>
			<key>event_type</key>
			<string>1</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200003</key>
		<dict>
			<key>event_id</key>
			<string>200003</string>
			<key>event_name</key>
			<string>测试战斗事件3</string>
			<key>event_tips</key>
			<string>200003</string>
			<key>event_type</key>
			<string>1</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200004</key>
		<dict>
			<key>event_id</key>
			<string>200004</string>
			<key>event_name</key>
			<string>测试boss2</string>
			<key>event_tips</key>
			<string>200004</string>
			<key>event_type</key>
			<string>2</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>30</string>
		</dict>
		<key>200005</key>
		<dict>
			<key>event_id</key>
			<string>200005</string>
			<key>event_name</key>
			<string>测试陷阱1</string>
			<key>event_tips</key>
			<string>200005</string>
			<key>event_type</key>
			<string>6</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>0</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200006</key>
		<dict>
			<key>event_id</key>
			<string>200006</string>
			<key>event_name</key>
			<string>测试陷阱2</string>
			<key>event_tips</key>
			<string>200006</string>
			<key>event_type</key>
			<string>6</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>0</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200007</key>
		<dict>
			<key>event_id</key>
			<string>200007</string>
			<key>event_name</key>
			<string>测试陷阱3</string>
			<key>event_tips</key>
			<string>200007</string>
			<key>event_type</key>
			<string>6</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>0</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200008</key>
		<dict>
			<key>event_id</key>
			<string>200008</string>
			<key>event_name</key>
			<string>测试陷阱4</string>
			<key>event_tips</key>
			<string>200008</string>
			<key>event_type</key>
			<string>6</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>0</string>
			<key>hp</key>
			<string>10</string>
		</dict>
		<key>200009</key>
		<dict>
			<key>event_id</key>
			<string>200009</string>
			<key>event_name</key>
			<string>测试空事件</string>
			<key>event_tips</key>
			<string>200009</string>
			<key>event_type</key>
			<string>0</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>0</string>
			<key>hp</key>
			<string>0</string>
		</dict>
		<key>200010</key>
		<dict>
			<key>event_id</key>
			<string>200010</string>
			<key>event_name</key>
			<string>测试战斗</string>
			<key>event_tips</key>
			<string>200010</string>
			<key>event_type</key>
			<string>3</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>15</string>
		</dict>
		<key>200011</key>
		<dict>
			<key>event_id</key>
			<string>200011</string>
			<key>event_name</key>
			<string>测试战斗</string>
			<key>event_tips</key>
			<string>200011</string>
			<key>event_type</key>
			<string>3</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>15</string>
		</dict>
		<key>200012</key>
		<dict>
			<key>event_id</key>
			<string>200012</string>
			<key>event_name</key>
			<string>测试战斗</string>
			<key>event_tips</key>
			<string>200012</string>
			<key>event_type</key>
			<string>3</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>15</string>
		</dict>
		<key>200013</key>
		<dict>
			<key>event_id</key>
			<string>200013</string>
			<key>event_name</key>
			<string>测试战斗</string>
			<key>event_tips</key>
			<string>200013</string>
			<key>event_type</key>
			<string>3</string>
			<key>effect</key>
			<string>baga.plist</string>
			<key>soundeffects</key>
			<string>wfwf.wav</string>
			<key>back_step</key>
			<string>1</string>
			<key>hp</key>
			<string>15</string>
		</dict>
	</dict>
</plist>

