<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>980001</key>
	<dict>
		<key>box_id</key>
		<string>980001</string>
		<key>name</key>
		<string>神力宝箱</string>
		<key>dictionary_id</key>
		<string>940001</string>
		<key>type</key>
		<string>1</string>
		<key>gp</key>
		<string>25</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>pic</key>
		<string>b.png</string>
		<key>plist</key>
		<string>plist</string>
	</dict>
	<key>980002</key>
	<dict>
		<key>box_id</key>
		<string>980002</string>
		<key>name</key>
		<string>免费宝箱</string>
		<key>dictionary_id</key>
		<string>940002</string>
		<key>type</key>
		<string>2</string>
		<key>gp</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>pic</key>
		<string>b.png</string>
		<key>plist</key>
		<string>plist</string>
	</dict>
	<key>980003</key>
	<dict>
		<key>box_id</key>
		<string>980003</string>
		<key>name</key>
		<string>因祸得福</string>
		<key>dictionary_id</key>
		<string>940003</string>
		<key>type</key>
		<string>3</string>
		<key>gp</key>
		<string>0</string>
		<key>coin</key>
		<string>250</string>
		<key>cash</key>
		<string>0</string>
		<key>pic</key>
		<string>b.png</string>
		<key>plist</key>
		<string>plist</string>
	</dict>
	<key>980004</key>
	<dict>
		<key>box_id</key>
		<string>980004</string>
		<key>name</key>
		<string>陷阱</string>
		<key>dictionary_id</key>
		<string>940004</string>
		<key>type</key>
		<string>4</string>
		<key>gp</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>pic</key>
		<string>a.png</string>
		<key>plist</key>
		<string>plist</string>
	</dict>
</dict>
</plist>
