<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>item_id_1</key>
		<string>901070</string>
		<key>item_id_2</key>
		<string>0</string>
		<key>item_id_3</key>
		<string>0</string>
		<key>item_id_4</key>
		<string>0</string>
		<key>item_id_5</key>
		<string>0</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>item_id_1</key>
		<string>901060</string>
		<key>item_id_2</key>
		<string>0</string>
		<key>item_id_3</key>
		<string>0</string>
		<key>item_id_4</key>
		<string>0</string>
		<key>item_id_5</key>
		<string>0</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>item_id_1</key>
		<string>901080</string>
		<key>item_id_2</key>
		<string>0</string>
		<key>item_id_3</key>
		<string>0</string>
		<key>item_id_4</key>
		<string>0</string>
		<key>item_id_5</key>
		<string>0</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>item_id_1</key>
		<string>901009</string>
		<key>item_id_2</key>
		<string></string>
		<key>item_id_3</key>
		<string></string>
		<key>item_id_4</key>
		<string>0</string>
		<key>item_id_5</key>
		<string>0</string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>item_id_1</key>
		<string>901001</string>
		<key>item_id_2</key>
		<string>901002</string>
		<key>item_id_3</key>
		<string>0</string>
		<key>item_id_4</key>
		<string>0</string>
		<key>item_id_5</key>
		<string>0</string>
	</dict>
</dict>
</plist>
