<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>907000</key>
		<dict>
			<key>item_effect_id</key>
			<string>907000</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907000</string>
		</dict>
		<key>907001</key>
		<dict>
			<key>item_effect_id</key>
			<string>907001</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907001</string>
		</dict>
		<key>907002</key>
		<dict>
			<key>item_effect_id</key>
			<string>907002</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907002</string>
		</dict>
		<key>907006</key>
		<dict>
			<key>item_effect_id</key>
			<string>907006</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907006</string>
		</dict>
		<key>907007</key>
		<dict>
			<key>item_effect_id</key>
			<string>907007</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907007</string>
		</dict>
		<key>907009</key>
		<dict>
			<key>item_effect_id</key>
			<string>907009</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907009</string>
		</dict>
		<key>907011</key>
		<dict>
			<key>item_effect_id</key>
			<string>907011</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907011</string>
		</dict>
		<key>907012</key>
		<dict>
			<key>item_effect_id</key>
			<string>907012</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907012</string>
		</dict>
		<key>907016</key>
		<dict>
			<key>item_effect_id</key>
			<string>907016</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907016</string>
		</dict>
		<key>907020</key>
		<dict>
			<key>item_effect_id</key>
			<string>907020</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907020</string>
		</dict>
		<key>907031</key>
		<dict>
			<key>item_effect_id</key>
			<string>907031</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907031</string>
		</dict>
		<key>907032</key>
		<dict>
			<key>item_effect_id</key>
			<string>907032</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907032</string>
		</dict>
		<key>907033</key>
		<dict>
			<key>item_effect_id</key>
			<string>907033</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907033</string>
		</dict>
		<key>907034</key>
		<dict>
			<key>item_effect_id</key>
			<string>907034</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907034</string>
		</dict>
		<key>907035</key>
		<dict>
			<key>item_effect_id</key>
			<string>907035</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907035</string>
		</dict>
		<key>907036</key>
		<dict>
			<key>item_effect_id</key>
			<string>907036</string>
			<key>plist</key>
			<string>,propBuffer.png</string>
			<key>tips</key>
			<string>907036</string>
		</dict>
		<key>907040</key>
		<dict>
			<key>item_effect_id</key>
			<string>907040</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907040</string>
		</dict>
		<key>907041</key>
		<dict>
			<key>item_effect_id</key>
			<string>907041</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907040</string>
		</dict>
		<key>907042</key>
		<dict>
			<key>item_effect_id</key>
			<string>907042</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907040</string>
		</dict>
		<key>907050</key>
		<dict>
			<key>item_effect_id</key>
			<string>907050</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907050</string>
		</dict>
		<key>907090</key>
		<dict>
			<key>item_effect_id</key>
			<string>907090</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907090</string>
		</dict>
		<key>907091</key>
		<dict>
			<key>item_effect_id</key>
			<string>907091</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907091</string>
		</dict>
		<key>907092</key>
		<dict>
			<key>item_effect_id</key>
			<string>907092</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907092</string>
		</dict>
		<key>907093</key>
		<dict>
			<key>item_effect_id</key>
			<string>907093</string>
			<key>plist</key>
			<string>0</string>
			<key>tips</key>
			<string>907093</string>
		</dict>
	</dict>
</plist>

