<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>440001</key>
	<dict>
		<key>npc_id</key>
		<string>440000</string>
		<key>name</key>
		<string>小盆友</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>1</string>
		<key>stirps</key>
		<string>1</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>180</string>
		<key>defend</key>
		<string>100</string>
		<key>hp</key>
		<string>420</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>120</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>100002</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>000</string>
	</dict>
	<key>440002</key>
	<dict>
		<key>npc_id</key>
		<string>440001</string>
		<key>name</key>
		<string>花花</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>2</string>
		<key>stirps</key>
		<string>2</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>198</string>
		<key>defend</key>
		<string>110</string>
		<key>hp</key>
		<string>50000</string>
		<key>card_energy</key>
		<string>150</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>001</string>
	</dict>
	<key>440003</key>
	<dict>
		<key>npc_id</key>
		<string>440002</string>
		<key>name</key>
		<string>木木</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>1</string>
		<key>stirps</key>
		<string>3</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>207</string>
		<key>defend</key>
		<string>115</string>
		<key>hp</key>
		<string>483</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>120</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>002</string>
	</dict>
	<key>440004</key>
	<dict>
		<key>npc_id</key>
		<string>440003</string>
		<key>name</key>
		<string>虫虫</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>2</string>
		<key>stirps</key>
		<string>2</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>198</string>
		<key>defend</key>
		<string>110</string>
		<key>hp</key>
		<string>462</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>150</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>003</string>
	</dict>
	<key>440005</key>
	<dict>
		<key>npc_id</key>
		<string>440004</string>
		<key>name</key>
		<string>鱼鱼</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>1</string>
		<key>stirps</key>
		<string>1</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>180</string>
		<key>defend</key>
		<string>100</string>
		<key>hp</key>
		<string>420</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>120</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>008</string>
	</dict>
	<key>440006</key>
	<dict>
		<key>npc_id</key>
		<string>440005</string>
		<key>name</key>
		<string>小伙伴</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>1</string>
		<key>stirps</key>
		<string>3</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>207</string>
		<key>defend</key>
		<string>115</string>
		<key>hp</key>
		<string>483</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>150</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>100002</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>000</string>
	</dict>
	<key>440007</key>
	<dict>
		<key>npc_id</key>
		<string>440006</string>
		<key>name</key>
		<string>boss1</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>3</string>
		<key>stirps</key>
		<string>4</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>216</string>
		<key>defend</key>
		<string>120</string>
		<key>hp</key>
		<string>504</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>120</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>001</string>
	</dict>
	<key>440008</key>
	<dict>
		<key>npc_id</key>
		<string>440007</string>
		<key>name</key>
		<string>boss2</string>
		<key>level</key>
		<string>1</string>
		<key>star</key>
		<string>3</string>
		<key>stirps</key>
		<string>5</string>
		<key>suit</key>
		<string>0</string>
		<key>attack</key>
		<string>225</string>
		<key>defend</key>
		<string>125</string>
		<key>hp</key>
		<string>525</string>
		<key>usually_attack</key>
		<string>100000</string>
		<key>card_energy</key>
		<string>150</string>
		<key>skill_energy</key>
		<string>100001</string>
		<key>skill_help</key>
		<string>0</string>
		<key>skill_dead</key>
		<string>0</string>
		<key>skill_buff</key>
		<string>0</string>
		<key>card_resources</key>
		<string>002</string>
	</dict>
</dict>
</plist>
