<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>103399</key>
	<dict>
		<key>card_id</key>
		<string>103399</string>
		<key>star</key>
		<string>3</string>
		<key>name</key>
		<string>埃洛普</string>
		<key>merge_num</key>
		<string>1000</string>
		<key>split_num</key>
		<string>35</string>
	</dict>
	<key>103499</key>
	<dict>
		<key>card_id</key>
		<string>103499</string>
		<key>star</key>
		<string>3</string>
		<key>name</key>
		<string>薇薇安</string>
		<key>merge_num</key>
		<string>1000</string>
		<key>split_num</key>
		<string>35</string>
	</dict>
	<key>104399</key>
	<dict>
		<key>card_id</key>
		<string>104399</string>
		<key>star</key>
		<string>4</string>
		<key>name</key>
		<string>赛亚人</string>
		<key>merge_num</key>
		<string>2000</string>
		<key>split_num</key>
		<string>45</string>
	</dict>
	<key>104499</key>
	<dict>
		<key>card_id</key>
		<string>104499</string>
		<key>star</key>
		<string>4</string>
		<key>name</key>
		<string>索尼克</string>
		<key>merge_num</key>
		<string>2000</string>
		<key>split_num</key>
		<string>45</string>
	</dict>
	<key>105399</key>
	<dict>
		<key>card_id</key>
		<string>105399</string>
		<key>star</key>
		<string>5</string>
		<key>name</key>
		<string>机器猫</string>
		<key>merge_num</key>
		<string>5000</string>
		<key>split_num</key>
		<string>50</string>
	</dict>
	<key>105499</key>
	<dict>
		<key>card_id</key>
		<string>105499</string>
		<key>star</key>
		<string>5</string>
		<key>name</key>
		<string>洛克人</string>
		<key>merge_num</key>
		<string>5000</string>
		<key>split_num</key>
		<string>50</string>
	</dict>
</dict>
</plist>
