<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>555101</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555101</string>
		<key>type</key>
		<string>1</string>
		<key>limit_num</key>
		<string>10</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>20</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555102</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555102</string>
		<key>type</key>
		<string>1</string>
		<key>limit_num</key>
		<string>50</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>25</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555103</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555103</string>
		<key>type</key>
		<string>1</string>
		<key>limit_num</key>
		<string>100</string>
		<key>card_soul</key>
		<string>30</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555104</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555104</string>
		<key>type</key>
		<string>1</string>
		<key>limit_num</key>
		<string>500</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>901000</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555105</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555105</string>
		<key>type</key>
		<string>1</string>
		<key>limit_num</key>
		<string>1000</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>104399</string>
	</dict>
	<key>555201</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555201</string>
		<key>type</key>
		<string>2</string>
		<key>limit_num</key>
		<string>1000</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>10</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555202</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555202</string>
		<key>type</key>
		<string>2</string>
		<key>limit_num</key>
		<string>2000</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>20</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555203</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555203</string>
		<key>type</key>
		<string>2</string>
		<key>limit_num</key>
		<string>5000</string>
		<key>card_soul</key>
		<string>50</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555204</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555204</string>
		<key>type</key>
		<string>2</string>
		<key>limit_num</key>
		<string>10000</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>901000</string>
		<key>card_id</key>
		<string>0</string>
	</dict>
	<key>555205</key>
	<dict>
		<key>pvp_task_id</key>
		<string>555205</string>
		<key>type</key>
		<string>2</string>
		<key>limit_num</key>
		<string>50000</string>
		<key>card_soul</key>
		<string>0</string>
		<key>coin</key>
		<string>0</string>
		<key>cash</key>
		<string>0</string>
		<key>item_id</key>
		<string>0</string>
		<key>card_id</key>
		<string>104499</string>
	</dict>
</dict>
</plist>
