<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>103001</key>
		<dict>
			<key>scene_id</key>
			<string>103001</string>
			<key>name</key>
			<string>测试场景1</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103002</key>
		<dict>
			<key>scene_id</key>
			<string>103002</string>
			<key>name</key>
			<string>测试场景2</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103003</key>
		<dict>
			<key>scene_id</key>
			<string>103003</string>
			<key>name</key>
			<string>测试场景3</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103004</key>
		<dict>
			<key>scene_id</key>
			<string>103004</string>
			<key>name</key>
			<string>测试场景4</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>c.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103005</key>
		<dict>
			<key>scene_id</key>
			<string>103005</string>
			<key>name</key>
			<string>测试场景5</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103006</key>
		<dict>
			<key>scene_id</key>
			<string>103006</string>
			<key>name</key>
			<string>测试场景6</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103007</key>
		<dict>
			<key>scene_id</key>
			<string>103007</string>
			<key>name</key>
			<string>测试场景7</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103008</key>
		<dict>
			<key>scene_id</key>
			<string>103008</string>
			<key>name</key>
			<string>测试场景8</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>c.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103009</key>
		<dict>
			<key>scene_id</key>
			<string>103009</string>
			<key>name</key>
			<string>测试场景9</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
		<key>103010</key>
		<dict>
			<key>scene_id</key>
			<string>103010</string>
			<key>name</key>
			<string>测试场景10</string>
			<key>scene_pic</key>
			<string>c.png</string>
			<key>scene_music</key>
			<string>csm.wav</string>
			<key>scene_soundeffects</key>
			<string>css.wav</string>
			<key>button_soundeffects</key>
			<string>cbs.wav</string>
			<key>scene_effect</key>
			<string>cse.plist</string>
		</dict>
	</dict>
</plist>

