<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>800101</key>
	<dict>
		<key>seller_id</key>
		<string>800101</string>
		<key>name</key>
		<string>道具王老板</string>
		<key>type</key>
		<string>1</string>
		<key>icon</key>
		<string>a.png</string>
		<key>decription</key>
		<string>800101</string>
		<key>shop_id</key>
		<string>800001</string>
	</dict>
	<key>800102</key>
	<dict>
		<key>seller_id</key>
		<string>800102</string>
		<key>name</key>
		<string>卡牌王老板</string>
		<key>type</key>
		<string>2</string>
		<key>icon</key>
		<string>a.png</string>
		<key>decription</key>
		<string>800102</string>
		<key>shop_id</key>
		<string>800002</string>
	</dict>
	<key>800103</key>
	<dict>
		<key>seller_id</key>
		<string>800103</string>
		<key>name</key>
		<string>材料王老板</string>
		<key>type</key>
		<string>1</string>
		<key>icon</key>
		<string>a.png</string>
		<key>decription</key>
		<string>800103</string>
		<key>shop_id</key>
		<string>800003</string>
	</dict>
</dict>
</plist>
