<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100000</key>
	<dict>
		<key>skill_id</key>
		<string>100000</string>
		<key>skill_name</key>
		<string>普通攻击</string>
		<key>skill_type</key>
		<string>0</string>
		<key>skill_logic</key>
		<string>1</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_1</key>
		<string>100000</string>
		<key>parameter_tips_2</key>
		<string>给我方主卡的效果</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方主卡的效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给敌方上场卡的效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方上场卡的效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>resource_cn/100000</string>
		<key>skill_tips</key>
		<string>普通攻击</string>
	</dict>
	<key>100001</key>
	<dict>
		<key>skill_id</key>
		<string>100001</string>
		<key>skill_name</key>
		<string>碎裂之火</string>
		<key>skill_type</key>
		<string>1</string>
		<key>skill_logic</key>
		<string>2</string>
		<key>cost_tips_1</key>
		<string>怒气</string>
		<key>cost_func_1</key>
		<string>1</string>
		<key>cost_parameter_1</key>
		<string>120</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>2</string>
		<key>cost_parameter_2</key>
		<string>100011</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_1</key>
		<string>100001</string>
		<key>parameter_tips_2</key>
		<string>给我方主卡的效果</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>在条件1情况下给敌方主卡的附加效果</string>
		<key>parameter_3</key>
		<string>100012</string>
		<key>parameter_tips_4</key>
		<string>给我方主卡的效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给敌方上场卡的效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方上场卡的效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>resource_cn/boss_icon_Effect</string>
		<key>skill_tips</key>
		<string>化身为一道剑刃飓风，以无与伦比的速度向敌方主卡投掷三把匕首</string>
	</dict>
	<key>100002</key>
	<dict>
		<key>skill_id</key>
		<string>100002</string>
		<key>skill_name</key>
		<string>爆破酒桶</string>
		<key>skill_type</key>
		<string>2</string>
		<key>skill_logic</key>
		<string>1</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方主卡的效果</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_3</key>
		<string>100011</string>
		<key>parameter_tips_4</key>
		<string>给我方主卡的效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给敌方上场卡的效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方上场卡的效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>resource_cn/100004</string>
		<key>skill_tips</key>
		<string>吹响战斗的号角，发出震耳的咆哮，使我方主卡进入获得鼓舞，增加15点怒气</string>
	</dict>
	<key>100003</key>
	<dict>
		<key>skill_id</key>
		<string>100003</string>
		<key>skill_name</key>
		<string>怒气全无</string>
		<key>skill_type</key>
		<string>3</string>
		<key>skill_logic</key>
		<string>1</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方主卡的效果</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方主卡的效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给敌方上场卡的效果</string>
		<key>parameter_5</key>
		<string>100022</string>
		<key>parameter_tips_6</key>
		<string>给我方上场卡的效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>resource_cn/100000</string>
		<key>skill_tips</key>
		<string>对目标投掷石块，若敌方因此技能而死亡，则回复25点怒气</string>
	</dict>
	<key>100004</key>
	<dict>
		<key>skill_id</key>
		<string>100004</string>
		<key>skill_name</key>
		<string>怒气增益</string>
		<key>skill_type</key>
		<string>4</string>
		<key>skill_logic</key>
		<string>1</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方主卡的效果</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给敌方主卡的效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方主卡的效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给敌方上场卡的效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方上场卡的效果</string>
		<key>parameter_6</key>
		<string>100021</string>
		<key>effect_plist</key>
		<string>resource_cn/boss_icon_Effect</string>
		<key>skill_tips</key>
		<string>以战神之名，向对方挑战，使敌方主卡无心迎战，减少20点怒气</string>
	</dict>
	<key>205201</key>
	<dict>
		<key>skill_id</key>
		<string>205201</string>
		<key>skill_name</key>
		<string>花色测试1</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>205201</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist5</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205202</key>
	<dict>
		<key>skill_id</key>
		<string>205202</string>
		<key>skill_name</key>
		<string>花色测试2</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>205202</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist6</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205203</key>
	<dict>
		<key>skill_id</key>
		<string>205203</string>
		<key>skill_name</key>
		<string>花色测试3</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>205203</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist7</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205204</key>
	<dict>
		<key>skill_id</key>
		<string>205204</string>
		<key>skill_name</key>
		<string>花色测试4</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>205204</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist11</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205205</key>
	<dict>
		<key>skill_id</key>
		<string>205205</string>
		<key>skill_name</key>
		<string>花色测试5</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>205205</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist12</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205206</key>
	<dict>
		<key>skill_id</key>
		<string>205206</string>
		<key>skill_name</key>
		<string>花色测试6</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>205206</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist13</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205207</key>
	<dict>
		<key>skill_id</key>
		<string>205207</string>
		<key>skill_name</key>
		<string>花色测试7</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>205207</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist14</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205208</key>
	<dict>
		<key>skill_id</key>
		<string>205208</string>
		<key>skill_name</key>
		<string>花色测试8</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>205208</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist15</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
	<key>205209</key>
	<dict>
		<key>skill_id</key>
		<string>205209</string>
		<key>skill_name</key>
		<string>花色测试9</string>
		<key>skill_type</key>
		<string>5</string>
		<key>skill_logic</key>
		<string>3</string>
		<key>cost_tips_1</key>
		<string>无</string>
		<key>cost_func_1</key>
		<string>0</string>
		<key>cost_parameter_1</key>
		<string>0</string>
		<key>cost_parameter_p_1</key>
		<string>0</string>
		<key>cost_tips_2</key>
		<string>0</string>
		<key>cost_func_2</key>
		<string>0</string>
		<key>cost_parameter_2</key>
		<string>0</string>
		<key>cost_parameter_p_2</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>给我方此阵容的卡牌的效果经验效果</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>给我方此阵容的卡牌的金钱收益</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>给我方此阵容的卡牌的血量效果</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>给我方此阵容的卡牌的攻击力效果</string>
		<key>parameter_4</key>
		<string>205209</string>
		<key>parameter_tips_5</key>
		<string>给我方此阵容的卡牌的防御力效果</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>给我方此阵容的卡牌的怒气效果</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>effect_plist</key>
		<string>plist16</string>
		<key>skill_tips</key>
		<string>0</string>
	</dict>
</dict>
</plist>
