<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>100000</key>
		<dict>
			<key>skill_id</key>
			<string>100000</string>
			<key>skill_name</key>
			<string>普通攻击</string>
			<key>skill_type</key>
			<string>0</string>
			<key>skill_logic</key>
			<string>1</string>
			<key>cost_tips_1</key>
			<string>无</string>
			<key>cost_func_1</key>
			<string>0</string>
			<key>cost_parameter_1</key>
			<string>0</string>
			<key>cost_parameter_p_1</key>
			<string>0</string>
			<key>cost_tips_2</key>
			<string>0</string>
			<key>cost_func_2</key>
			<string>0</string>
			<key>cost_parameter_2</key>
			<string>0</string>
			<key>cost_parameter_p_2</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_1</key>
			<string>100000</string>
			<key>parameter_tips_2</key>
			<string>给我方主卡的效果</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>给我方主卡的效果</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>给敌方上场卡的效果</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>给我方上场卡的效果</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>effect_plist</key>
			<string>plist0</string>
			<key>skill_tips</key>
			<string>普通攻击</string>
		</dict>
		<key>100001</key>
		<dict>
			<key>skill_id</key>
			<string>100001</string>
			<key>skill_name</key>
			<string>暴怒攻击</string>
			<key>skill_type</key>
			<string>1</string>
			<key>skill_logic</key>
			<string>1</string>
			<key>cost_tips_1</key>
			<string>怒气</string>
			<key>cost_func_1</key>
			<string>1</string>
			<key>cost_parameter_1</key>
			<string>200</string>
			<key>cost_parameter_p_1</key>
			<string>0</string>
			<key>cost_tips_2</key>
			<string>0</string>
			<key>cost_func_2</key>
			<string>0</string>
			<key>cost_parameter_2</key>
			<string>0</string>
			<key>cost_parameter_p_2</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_1</key>
			<string>100001</string>
			<key>parameter_tips_2</key>
			<string>给我方主卡的效果</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>给我方主卡的效果</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>给敌方上场卡的效果</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>给我方上场卡的效果</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>effect_plist</key>
			<string>plist1</string>
			<key>skill_tips</key>
			<string>对敌人造成大量伤害</string>
		</dict>
		<key>100002</key>
		<dict>
			<key>skill_id</key>
			<string>100002</string>
			<key>skill_name</key>
			<string>破甲一击</string>
			<key>skill_type</key>
			<string>2</string>
			<key>skill_logic</key>
			<string>1</string>
			<key>cost_tips_1</key>
			<string>无</string>
			<key>cost_func_1</key>
			<string>0</string>
			<key>cost_parameter_1</key>
			<string>0</string>
			<key>cost_parameter_p_1</key>
			<string>0</string>
			<key>cost_tips_2</key>
			<string>0</string>
			<key>cost_func_2</key>
			<string>0</string>
			<key>cost_parameter_2</key>
			<string>0</string>
			<key>cost_parameter_p_2</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>给我方主卡的效果</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_3</key>
			<string>100011</string>
			<key>parameter_tips_4</key>
			<string>给我方主卡的效果</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>给敌方上场卡的效果</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>给我方上场卡的效果</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>effect_plist</key>
			<string>plist2</string>
			<key>skill_tips</key>
			<string>对敌人造成减防效果，对我方主卡回复血量</string>
		</dict>
		<key>100003</key>
		<dict>
			<key>skill_id</key>
			<string>100003</string>
			<key>skill_name</key>
			<string>怒气全无</string>
			<key>skill_type</key>
			<string>3</string>
			<key>skill_logic</key>
			<string>1</string>
			<key>cost_tips_1</key>
			<string>无</string>
			<key>cost_func_1</key>
			<string>0</string>
			<key>cost_parameter_1</key>
			<string>0</string>
			<key>cost_parameter_p_1</key>
			<string>0</string>
			<key>cost_tips_2</key>
			<string>0</string>
			<key>cost_func_2</key>
			<string>0</string>
			<key>cost_parameter_2</key>
			<string>0</string>
			<key>cost_parameter_p_2</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>给我方主卡的效果</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>给我方主卡的效果</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>给敌方上场卡的效果</string>
			<key>parameter_5</key>
			<string>100022</string>
			<key>parameter_tips_6</key>
			<string>给我方上场卡的效果</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>effect_plist</key>
			<string>plist3</string>
			<key>skill_tips</key>
			<string>去除敌方主卡全部怒气</string>
		</dict>
		<key>100004</key>
		<dict>
			<key>skill_id</key>
			<string>100004</string>
			<key>skill_name</key>
			<string>怒气增益</string>
			<key>skill_type</key>
			<string>4</string>
			<key>skill_logic</key>
			<string>1</string>
			<key>cost_tips_1</key>
			<string>无</string>
			<key>cost_func_1</key>
			<string>0</string>
			<key>cost_parameter_1</key>
			<string>0</string>
			<key>cost_parameter_p_1</key>
			<string>0</string>
			<key>cost_tips_2</key>
			<string>0</string>
			<key>cost_func_2</key>
			<string>0</string>
			<key>cost_parameter_2</key>
			<string>0</string>
			<key>cost_parameter_p_2</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>给我方主卡的效果</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>给敌方主卡的效果</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>给我方主卡的效果</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>给敌方上场卡的效果</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>给我方上场卡的效果</string>
			<key>parameter_6</key>
			<string>100021</string>
			<key>effect_plist</key>
			<string>plist4</string>
			<key>skill_tips</key>
			<string>上场怒气增加30点</string>
		</dict>
	</dict>
</plist>

