<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>100000</key>
		<dict>
			<key>effect_id</key>
			<string>100000</string>
			<key>effect_logic</key>
			<string>1</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>0</string>
			<key>keep_time</key>
			<string>0</string>
			<key>mutex</key>
			<string>0</string>
			<key>mutex_level</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>按填写值扣减血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击增加百分比造成伤害</string>
			<key>parameter_2</key>
			<string>100</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值扣减防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值扣减怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比扣减怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值削减攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比扣减总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>100001</key>
		<dict>
			<key>effect_id</key>
			<string>100001</string>
			<key>effect_logic</key>
			<string>1</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>0</string>
			<key>keep_time</key>
			<string>0</string>
			<key>mutex</key>
			<string>0</string>
			<key>mutex_level</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>按填写值扣减血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击增加到百分比造成伤害</string>
			<key>parameter_2</key>
			<string>150</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值扣减防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值扣减怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比扣减总怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值削减攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比扣减总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>100002</key>
		<dict>
			<key>effect_id</key>
			<string>100002</string>
			<key>effect_logic</key>
			<string>11</string>
			<key>effect_type</key>
			<string>1</string>
			<key>effect_time</key>
			<string>1</string>
			<key>keep_time</key>
			<string>3</string>
			<key>mutex</key>
			<string>3</string>
			<key>mutex_level</key>
			<string>50</string>
			<key>parameter_tips_1</key>
			<string>按填写值增加血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击力百分比增加血量</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>5</string>
			<key>parameter_tips_4</key>
			<string>按填写值增加防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值增加怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比增加怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值增加攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比增加总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/jiaxue.png</string>
		</dict>
		<key>100011</key>
		<dict>
			<key>effect_id</key>
			<string>100011</string>
			<key>effect_logic</key>
			<string>1</string>
			<key>effect_type</key>
			<string>1</string>
			<key>effect_time</key>
			<string>1</string>
			<key>keep_time</key>
			<string>3</string>
			<key>mutex</key>
			<string>1</string>
			<key>mutex_level</key>
			<string>1</string>
			<key>parameter_tips_1</key>
			<string>按填写值扣减血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击增加百分比造成伤害</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值扣减防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>10</string>
			<key>parameter_tips_6</key>
			<string>按填写值扣减怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比扣减总怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值削减攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比扣减总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>100012</key>
		<dict>
			<key>effect_id</key>
			<string>100012</string>
			<key>effect_logic</key>
			<string>11</string>
			<key>effect_type</key>
			<string>1</string>
			<key>effect_time</key>
			<string>3</string>
			<key>keep_time</key>
			<string>3</string>
			<key>mutex</key>
			<string>2</string>
			<key>mutex_level</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>按填写值增加血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击力百分比增加血量</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值增加防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值增加怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比增加怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值增加攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比增加总攻击力</string>
			<key>parameter_9</key>
			<string>150</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/bufferfire.plist,resource_cn/img/fighting/yiran.png</string>
		</dict>
		<key>100021</key>
		<dict>
			<key>effect_id</key>
			<string>100021</string>
			<key>effect_logic</key>
			<string>11</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>0</string>
			<key>keep_time</key>
			<string>0</string>
			<key>mutex</key>
			<string>0</string>
			<key>mutex_level</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>按填写值增加血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>防御力百分比增加血量</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值增加防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值增加怒气</string>
			<key>parameter_6</key>
			<string>30</string>
			<key>parameter_tips_7</key>
			<string>按百分比增加怒气</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>按填写值增加攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比增加总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>100022</key>
		<dict>
			<key>effect_id</key>
			<string>100022</string>
			<key>effect_logic</key>
			<string>1</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>0</string>
			<key>keep_time</key>
			<string>0</string>
			<key>mutex</key>
			<string>0</string>
			<key>mutex_level</key>
			<string>0</string>
			<key>parameter_tips_1</key>
			<string>按填写值扣减血量</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>攻击增加百分比造成伤害</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>按百分比修正总血量</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>按填写值扣减防御</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>按百分比修正总防御</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>按填写值扣减怒气</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>按百分比扣减总怒气</string>
			<key>parameter_7</key>
			<string>100</string>
			<key>parameter_tips_8</key>
			<string>按填写值削减攻击力</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>按百分比扣减总攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>元素类型标记</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>,resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205201</key>
		<dict>
			<key>effect_id</key>
			<string>205201</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>1</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>120</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205202</key>
		<dict>
			<key>effect_id</key>
			<string>205202</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>2</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>120</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205203</key>
		<dict>
			<key>effect_id</key>
			<string>205203</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>3</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>120</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205204</key>
		<dict>
			<key>effect_id</key>
			<string>205204</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>4</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>120</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205205</key>
		<dict>
			<key>effect_id</key>
			<string>205205</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>5</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>120</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205206</key>
		<dict>
			<key>effect_id</key>
			<string>205206</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>6</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>100</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205207</key>
		<dict>
			<key>effect_id</key>
			<string>205207</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>7</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>100</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205208</key>
		<dict>
			<key>effect_id</key>
			<string>205208</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>8</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>100</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>0</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
		<key>205209</key>
		<dict>
			<key>effect_id</key>
			<string>205209</string>
			<key>effect_logic</key>
			<string>2</string>
			<key>effect_type</key>
			<string>0</string>
			<key>effect_time</key>
			<string>30</string>
			<key>keep_time</key>
			<string>30</string>
			<key>mutex</key>
			<string>52</string>
			<key>mutex_level</key>
			<string>9</string>
			<key>parameter_tips_1</key>
			<string>战斗经验值</string>
			<key>parameter_1</key>
			<string>0</string>
			<key>parameter_tips_2</key>
			<string>金币奖励</string>
			<key>parameter_2</key>
			<string>0</string>
			<key>parameter_tips_3</key>
			<string>卡牌生命值</string>
			<key>parameter_3</key>
			<string>0</string>
			<key>parameter_tips_4</key>
			<string>卡牌攻击力</string>
			<key>parameter_4</key>
			<string>0</string>
			<key>parameter_tips_5</key>
			<string>卡牌防御力</string>
			<key>parameter_5</key>
			<string>0</string>
			<key>parameter_tips_6</key>
			<string>战斗经验值</string>
			<key>parameter_6</key>
			<string>0</string>
			<key>parameter_tips_7</key>
			<string>金币奖励</string>
			<key>parameter_7</key>
			<string>0</string>
			<key>parameter_tips_8</key>
			<string>卡牌生命值</string>
			<key>parameter_8</key>
			<string>0</string>
			<key>parameter_tips_9</key>
			<string>卡牌攻击力</string>
			<key>parameter_9</key>
			<string>100</string>
			<key>parameter_tips_10</key>
			<string>卡牌防御力</string>
			<key>parameter_10</key>
			<string>0</string>
			<key>effect_plistfile</key>
			<string>resource_cn/img/fighting/suo.png</string>
		</dict>
	</dict>
</plist>

