<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100000</key>
	<dict>
		<key>effect_id</key>
		<string>100000</string>
		<key>effect_logic</key>
		<string>1</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值扣减血量</string>
		<key>parameter_1</key>
		<string>70</string>
		<key>parameter_tips_2</key>
		<string>攻击增加百分比造成伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值扣减防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值扣减怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比扣减怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值削减攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比扣减总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/jiaxue.png</string>
	</dict>
	<key>100001</key>
	<dict>
		<key>effect_id</key>
		<string>100001</string>
		<key>effect_logic</key>
		<string>1</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值扣减血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击增加到百分比造成伤害</string>
		<key>parameter_2</key>
		<string>120</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值扣减防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值扣减怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比扣减总怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值削减攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比扣减总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>701002</key>
	<dict>
		<key>effect_id</key>
		<string>701002</string>
		<key>effect_logic</key>
		<string>2</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>2</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力增加x</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击增加到%</string>
		<key>parameter_2</key>
		<string>150</string>
		<key>parameter_tips_3</key>
		<string>攻击增加为耗血量的%</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>攻击增加%为耗血%</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>防御力增加</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>防御提升到%</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>防御力提升为耗血量的%</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>防御力增加%为耗血%</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>3</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>100002</key>
	<dict>
		<key>effect_id</key>
		<string>100002</string>
		<key>effect_logic</key>
		<string>11</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>3</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>按填写值增加血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击力百分比增加血量</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>5</string>
		<key>parameter_tips_4</key>
		<string>按填写值增加防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值增加怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比增加怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值增加攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比增加总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>701003</key>
	<dict>
		<key>effect_id</key>
		<string>701003</string>
		<key>effect_logic</key>
		<string>4</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>4</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力减少</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击减少%</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>攻击减少为耗血量的%</string>
		<key>parameter_3</key>
		<string>20</string>
		<key>parameter_tips_4</key>
		<string>攻击力减少%为耗血%</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>防御力减少</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>防御力减少%</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>防御力降低为耗血量的%</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>防御力降低%为耗血%</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>4</string>
		<key>effect_plistfile</key>
		<string>0</string>
	</dict>
	<key>701004</key>
	<dict>
		<key>effect_id</key>
		<string>701004</string>
		<key>effect_logic</key>
		<string>5</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>3</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>1</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>5</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力增加x点造成伤害</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击增加百分比造成伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>伤害加成</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>无视防御值</string>
		<key>parameter_4</key>
		<string>80</string>
		<key>parameter_tips_5</key>
		<string>无视防御%</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>耗血量的%增加攻击力</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>耗血%增加攻击力系数</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>耗血量的%无视防御力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>耗血%无视防御力系数</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>100011</key>
	<dict>
		<key>effect_id</key>
		<string>100011</string>
		<key>effect_logic</key>
		<string>1</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>1</string>
		<key>mutex_level</key>
		<string>1</string>
		<key>parameter_tips_1</key>
		<string>按填写值扣减血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击增加百分比造成伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值扣减防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>10</string>
		<key>parameter_tips_6</key>
		<string>按填写值扣减怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比扣减总怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值削减攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比扣减总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>100012</key>
	<dict>
		<key>effect_id</key>
		<string>100012</string>
		<key>effect_logic</key>
		<string>11</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>3</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>1</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>2</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值增加血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击力百分比增加血量</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值增加防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值增加怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比增加怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值增加攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比增加总攻击力</string>
		<key>parameter_9</key>
		<string>150</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>resource_cn/bufferfire.plist,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>701001</key>
	<dict>
		<key>effect_id</key>
		<string>701001</string>
		<key>effect_logic</key>
		<string>3</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>真实伤害</string>
		<key>parameter_1</key>
		<string>350</string>
		<key>parameter_tips_2</key>
		<string>目标总血量x%的真实伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>耗血量%的真实伤害</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>0</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>0</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>0</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>0</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>0</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>2</string>
		<key>effect_plistfile</key>
		<string>0</string>
	</dict>
	<key>100022</key>
	<dict>
		<key>effect_id</key>
		<string>100022</string>
		<key>effect_logic</key>
		<string>1</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值扣减血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>攻击增加百分比造成伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值扣减防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值扣减怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比扣减总怒气</string>
		<key>parameter_7</key>
		<string>100</string>
		<key>parameter_tips_8</key>
		<string>按填写值削减攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比扣减总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>0</string>
	</dict>
	<key>100021</key>
	<dict>
		<key>effect_id</key>
		<string>100021</string>
		<key>effect_logic</key>
		<string>11</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值增加血量</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>防御力百分比增加血量</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值增加防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值增加怒气</string>
		<key>parameter_6</key>
		<string>30</string>
		<key>parameter_tips_7</key>
		<string>按百分比增加怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值增加攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比增加总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>701000</key>
	<dict>
		<key>effect_id</key>
		<string>701000</string>
		<key>effect_logic</key>
		<string>1</string>
		<key>effect_type</key>
		<string>0</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>0</string>
		<key>random</key>
		<string>1</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>0</string>
		<key>mutex_level</key>
		<string>0</string>
		<key>parameter_tips_1</key>
		<string>按填写值扣减血量</string>
		<key>parameter_1</key>
		<string>70</string>
		<key>parameter_tips_2</key>
		<string>攻击增加百分比造成伤害</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>按百分比修正总血量</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>按填写值扣减防御</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>按百分比修正总防御</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>按填写值扣减怒气</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>按百分比扣减怒气</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>按填写值削减攻击力</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>按百分比扣减总攻击力</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>0</string>
		<key>effect_plistfile</key>
		<string>0</string>
	</dict>
	<key>702000</key>
	<dict>
		<key>effect_id</key>
		<string>702000</string>
		<key>effect_logic</key>
		<string>8</string>
		<key>effect_type</key>
		<string>1</string>
		<key>effect_time</key>
		<string>3</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>0</string>
		<key>keep_time</key>
		<string>3</string>
		<key>mutex</key>
		<string>4</string>
		<key>mutex_level</key>
		<string>100</string>
		<key>parameter_tips_1</key>
		<string>是否普通攻击</string>
		<key>parameter_1</key>
		<string>0</string>
		<key>parameter_tips_2</key>
		<string>0</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>0</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>0</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>0</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>0</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>0</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>0</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>元素类型标记</string>
		<key>parameter_10</key>
		<string>1</string>
		<key>effect_plistfile</key>
		<string>0</string>
	</dict>
	<key>702041</key>
	<dict>
		<key>effect_id</key>
		<string>702041</string>
		<key>effect_logic</key>
		<string>21</string>
		<key>effect_type</key>
		<string>3</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>1</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>21</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力提升</string>
		<key>parameter_1</key>
		<string>5</string>
		<key>parameter_tips_2</key>
		<string>防御力提升</string>
		<key>parameter_2</key>
		<string>0</string>
		<key>parameter_tips_3</key>
		<string>卡牌生命值提升</string>
		<key>parameter_3</key>
		<string>0</string>
		<key>parameter_tips_4</key>
		<string>卡牌攻击力提升%</string>
		<key>parameter_4</key>
		<string>0</string>
		<key>parameter_tips_5</key>
		<string>卡牌防御力提升%</string>
		<key>parameter_5</key>
		<string>0</string>
		<key>parameter_tips_6</key>
		<string>卡牌血量提升%</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>0</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>0</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>点击buff图表显示</string>
		<key>parameter_10</key>
		<string>702041</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>702042</key>
	<dict>
		<key>effect_id</key>
		<string>702042</string>
		<key>effect_logic</key>
		<string>24</string>
		<key>effect_type</key>
		<string>3</string>
		<key>effect_time</key>
		<string>1</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>1</string>
		<key>keep_time</key>
		<string>1</string>
		<key>mutex</key>
		<string>22</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力降低</string>
		<key>parameter_1</key>
		<string>1</string>
		<key>parameter_tips_2</key>
		<string>防御力降低</string>
		<key>parameter_2</key>
		<string>1</string>
		<key>parameter_tips_3</key>
		<string>卡牌生命值降低</string>
		<key>parameter_3</key>
		<string>1</string>
		<key>parameter_tips_4</key>
		<string>卡牌攻击力降低%</string>
		<key>parameter_4</key>
		<string>1</string>
		<key>parameter_tips_5</key>
		<string>卡牌防御力降低%</string>
		<key>parameter_5</key>
		<string>1</string>
		<key>parameter_tips_6</key>
		<string>卡牌血量降低%</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>0</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>0</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>点击buff图标显示</string>
		<key>parameter_10</key>
		<string>702042</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
	<key>702043</key>
	<dict>
		<key>effect_id</key>
		<string>702043</string>
		<key>effect_logic</key>
		<string>24</string>
		<key>effect_type</key>
		<string>2</string>
		<key>effect_time</key>
		<string>255</string>
		<key>backtrack</key>
		<string>1</string>
		<key>random</key>
		<string>0</string>
		<key>delay</key>
		<string>1</string>
		<key>keep_time</key>
		<string>255</string>
		<key>mutex</key>
		<string>23</string>
		<key>mutex_level</key>
		<string>50</string>
		<key>parameter_tips_1</key>
		<string>攻击力降低</string>
		<key>parameter_1</key>
		<string>2</string>
		<key>parameter_tips_2</key>
		<string>防御力降低</string>
		<key>parameter_2</key>
		<string>2</string>
		<key>parameter_tips_3</key>
		<string>卡牌生命值降低</string>
		<key>parameter_3</key>
		<string>2</string>
		<key>parameter_tips_4</key>
		<string>卡牌攻击力降低%</string>
		<key>parameter_4</key>
		<string>2</string>
		<key>parameter_tips_5</key>
		<string>卡牌防御力降低%</string>
		<key>parameter_5</key>
		<string>2</string>
		<key>parameter_tips_6</key>
		<string>卡牌血量降低%</string>
		<key>parameter_6</key>
		<string>0</string>
		<key>parameter_tips_7</key>
		<string>0</string>
		<key>parameter_7</key>
		<string>0</string>
		<key>parameter_tips_8</key>
		<string>0</string>
		<key>parameter_8</key>
		<string>0</string>
		<key>parameter_tips_9</key>
		<string>0</string>
		<key>parameter_9</key>
		<string>0</string>
		<key>parameter_tips_10</key>
		<string>dianjibuff图标显示</string>
		<key>parameter_10</key>
		<string>702043</string>
		<key>effect_plistfile</key>
		<string>,resource_cn/img/fighting/suo.png</string>
	</dict>
</dict>
</plist>
