<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>380000</key>
		<dict>
			<key>special_id</key>
			<string>380000</string>
			<key>name</key>
			<string>试特殊事件左 boss</string>
			<key>left_event_id</key>
			<string>200001</string>
			<key>left_word</key>
			<string>999991</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>0</string>
			<key>mid_word</key>
			<string>0</string>
			<key>mid_pic</key>
			<string>0</string>
			<key>right_event_id</key>
			<string>0</string>
			<key>right_word</key>
			<string>0</string>
			<key>right_pic</key>
			<string>0</string>
		</dict>
		<key>380001</key>
		<dict>
			<key>special_id</key>
			<string>380001</string>
			<key>name</key>
			<string>测试选择陷阱</string>
			<key>left_event_id</key>
			<string>200006</string>
			<key>left_word</key>
			<string>999992</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>0</string>
			<key>mid_word</key>
			<string>0</string>
			<key>mid_pic</key>
			<string>0</string>
			<key>right_event_id</key>
			<string>200005</string>
			<key>right_word</key>
			<string>999995</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
		<key>380002</key>
		<dict>
			<key>special_id</key>
			<string>380002</string>
			<key>name</key>
			<string>测试触发boss</string>
			<key>left_event_id</key>
			<string>0</string>
			<key>left_word</key>
			<string>0</string>
			<key>left_pic</key>
			<string>0</string>
			<key>mid_event_id</key>
			<string>200010</string>
			<key>mid_word</key>
			<string>999993</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>200011</string>
			<key>right_word</key>
			<string>999994</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
	</dict>
</plist>

