<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>10000</key>
		<dict>
			<key>special_id</key>
			<string>10000</string>
			<key>name</key>
			<string>花花</string>
			<key>left_event_id</key>
			<string>10011</string>
			<key>left_word</key>
			<string>10001</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>10002</string>
			<key>mid_word</key>
			<string>10003</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>100040</string>
			<key>right_word</key>
			<string>1140</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>special_id</key>
			<string>10000</string>
			<key>name</key>
			<string>花花</string>
			<key>left_event_id</key>
			<string>10011</string>
			<key>left_word</key>
			<string>10001</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>10002</string>
			<key>mid_word</key>
			<string>10003</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>100040</string>
			<key>right_word</key>
			<string>1140</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>special_id</key>
			<string>10000</string>
			<key>name</key>
			<string>花花</string>
			<key>left_event_id</key>
			<string>10011</string>
			<key>left_word</key>
			<string>10001</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>10002</string>
			<key>mid_word</key>
			<string>10003</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>100040</string>
			<key>right_word</key>
			<string>1140</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>special_id</key>
			<string>10000</string>
			<key>name</key>
			<string>花花</string>
			<key>left_event_id</key>
			<string>10011</string>
			<key>left_word</key>
			<string>10001</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>10002</string>
			<key>mid_word</key>
			<string>10003</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>100040</string>
			<key>right_word</key>
			<string>1140</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
		<key>10000</key>
		<dict>
			<key>special_id</key>
			<string>10000</string>
			<key>name</key>
			<string>花花</string>
			<key>left_event_id</key>
			<string>10011</string>
			<key>left_word</key>
			<string>10001</string>
			<key>left_pic</key>
			<string>a.png</string>
			<key>mid_event_id</key>
			<string>10002</string>
			<key>mid_word</key>
			<string>10003</string>
			<key>mid_pic</key>
			<string>b.png</string>
			<key>right_event_id</key>
			<string>100040</string>
			<key>right_word</key>
			<string>1140</string>
			<key>right_pic</key>
			<string>c.png</string>
		</dict>
	</dict>
</plist>

