<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>30001</key>
		<dict>
			<key>story_id</key>
			<string>30001</string>
			<key>story_name</key>
			<string>?????</string>
			<key>dialoguelist_id</key>
			<string>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,19</string>
		</dict>
		<key>30002</key>
		<dict>
			<key>story_id</key>
			<string>30002</string>
			<key>story_name</key>
			<string>????</string>
			<key>dialoguelist_id</key>
			<string>19,20,1,2,3,4,5,8,10</string>
		</dict>
		<key>30003</key>
		<dict>
			<key>story_id</key>
			<string>30003</string>
			<key>story_name</key>
			<string>cccccc??</string>
			<key>dialoguelist_id</key>
			<string>12,13,1,2,5,8,10,11,9,26,33,24,</string>
		</dict>
		<key>30004</key>
		<dict>
			<key>story_id</key>
			<string>30004</string>
			<key>story_name</key>
			<string>bbb</string>
			<key>dialoguelist_id</key>
			<string>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,19</string>
		</dict>
		<key>30005</key>
		<dict>
			<key>story_id</key>
			<string>30005</string>
			<key>story_name</key>
			<string>ddd</string>
			<key>dialoguelist_id</key>
			<string>2,13,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,19</string>
		</dict>
		<key>30006</key>
		<dict>
			<key>story_id</key>
			<string>30006</string>
			<key>story_name</key>
			<string>ffff</string>
			<key>dialoguelist_id</key>
			<string>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,19</string>
		</dict>
		<key>30007</key>
		<dict>
			<key>story_id</key>
			<string>30007</string>
			<key>story_name</key>
			<string>kkkk</string>
			<key>dialoguelist_id</key>
			<string>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,19</string>
		</dict>
	</dict>
</plist>

