<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>600100</key>
		<dict>
			<key>story_id</key>
			<string>600100</string>
			<key>story_name</key>
			<string>测试情节1</string>
			<key>dialoguelist_id</key>
			<string>600101</string>
		</dict>
		<key>600200</key>
		<dict>
			<key>story_id</key>
			<string>600200</string>
			<key>story_name</key>
			<string>测试情节2</string>
			<key>dialoguelist_id</key>
			<string>600201,600202,600203</string>
		</dict>
		<key>600000</key>
		<dict>
			<key>story_id</key>
			<string>600000</string>
			<key>story_name</key>
			<string>测试情节0</string>
			<key>dialoguelist_id</key>
			<string>600001,600002</string>
		</dict>
	</dict>
</plist>

