<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>500000</key>
		<dict>
			<key>task_id</key>
			<string>500000</string>
			<key>name</key>
			<string>通关序章第一节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>0</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300000</string>
			<key>part_id</key>
			<string>300001</string>
			<key>task_tags</key>
			<string>500000</string>
		</dict>
		<key>501010</key>
		<dict>
			<key>task_id</key>
			<string>501010</string>
			<key>name</key>
			<string>通关第一章第一节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>500000</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300101</string>
			<key>task_tags</key>
			<string>501010</string>
		</dict>
		<key>501040</key>
		<dict>
			<key>task_id</key>
			<string>501040</string>
			<key>name</key>
			<string>通关第一章第四节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501030</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300104</string>
			<key>task_tags</key>
			<string>501040</string>
		</dict>
		<key>501050</key>
		<dict>
			<key>task_id</key>
			<string>501050</string>
			<key>name</key>
			<string>通关第一章第五节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501040</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300105</string>
			<key>task_tags</key>
			<string>501050</string>
		</dict>
		<key>501060</key>
		<dict>
			<key>task_id</key>
			<string>501060</string>
			<key>name</key>
			<string>通关第一章第六节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501050</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300106</string>
			<key>task_tags</key>
			<string>501060</string>
		</dict>
		<key>501070</key>
		<dict>
			<key>task_id</key>
			<string>501070</string>
			<key>name</key>
			<string>通关第一章第七节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501060</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300107</string>
			<key>task_tags</key>
			<string>501070</string>
		</dict>
		<key>501080</key>
		<dict>
			<key>task_id</key>
			<string>501080</string>
			<key>name</key>
			<string>通关第一章第八节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501070</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300108</string>
			<key>task_tags</key>
			<string>501080</string>
		</dict>
		<key>501090</key>
		<dict>
			<key>task_id</key>
			<string>501090</string>
			<key>name</key>
			<string>通关第一章第九节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501080</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300109</string>
			<key>task_tags</key>
			<string>501090</string>
		</dict>
		<key>501020</key>
		<dict>
			<key>task_id</key>
			<string>501020</string>
			<key>name</key>
			<string>通关第一章第二节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>2</string>
			<key>pre_task</key>
			<string>501010</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300102</string>
			<key>task_tags</key>
			<string>501020</string>
		</dict>
		<key>501030</key>
		<dict>
			<key>task_id</key>
			<string>501030</string>
			<key>name</key>
			<string>通关第一章第仨节</string>
			<key>type</key>
			<string>1</string>
			<key>target_id</key>
			<string>0</string>
			<key>num</key>
			<string>1</string>
			<key>pre_task</key>
			<string>501020</string>
			<key>exp</key>
			<string>100</string>
			<key>coin</key>
			<string>40</string>
			<key>rmb</key>
			<string>0</string>
			<key>item_id_1</key>
			<string>0</string>
			<key>item_num_1</key>
			<string>0</string>
			<key>item_id_2</key>
			<string>0</string>
			<key>item_num_2</key>
			<string>0</string>
			<key>fit_id</key>
			<string>0</string>
			<key>fit_num</key>
			<string>0</string>
			<key>card_id_1</key>
			<string>0</string>
			<key>card_num_1</key>
			<string>0</string>
			<key>card_id_2</key>
			<string>0</string>
			<key>card_num_2</key>
			<string>0</string>
			<key>card_id_3</key>
			<string>0</string>
			<key>card_num_3</key>
			<string>0</string>
			<key>chapter_id</key>
			<string>300100</string>
			<key>part_id</key>
			<string>300103</string>
			<key>task_tags</key>
			<string>501030</string>
		</dict>
	</dict>
</plist>

