<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>trigger_id</key>
			<string>1</string>
			<key>trigger_point</key>
			<string>2</string>
			<key>story_id</key>
			<string>30001</string>
			<key>special_event_id</key>
			<string>0</string>
		</dict>
		<key>2</key>
		<dict>
			<key>trigger_id</key>
			<string>2</string>
			<key>trigger_point</key>
			<string>7</string>
			<key>story_id</key>
			<string>30004</string>
			<key>special_event_id</key>
			<string>0</string>
		</dict>
	</dict>
</plist>

