<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>left00</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{252,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(6)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>left01</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{412,20})</string>
			<string>ScaleTo(0.2,1.0)</string>
			<string>ResetZorder(9)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>left02</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{312,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(8)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>left03</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{282,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(7)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>right00</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{772,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(5)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>right01</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{612,20})</string>
			<string>ScaleTo(0.2,1.0)</string>
			<string>ResetZorder(9)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>right02</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{712,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(8)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
	<key>right03</key>
	<dict>
		<key>actions</key>
		<array>
			<string>Spawn(Item 1,Item 2)</string>
			<string>MoveTo(0.2,{742,20})</string>
			<string>ScaleTo(0.2,0.8)</string>
			<string>ResetZorder(7)</string>
			<string>Sequence(Item 1,Item 3)</string>
		</array>
		<key>runAction</key>
		<string>Item 4</string>
	</dict>
</dict>
</plist>
