<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>999991</key>
		<string>测试1</string>
		<key>999992</key>
		<string>测试2</string>
		<key>999993</key>
		<string>测试3</string>
		<key>999994</key>
		<string>测试4</string>
		<key>999995</key>
		<string>测试5</string>
		<key>999996</key>
		<string>测试6</string>
		<key>999997</key>
		<string>测试7</string>
		<key>999998</key>
		<string>测试8</string>
		<key>999999</key>
		<string>测试9</string>
		<key>300000</key>
		<string>在战场上即将死去的佣兵见到了女武神瓦尔基里，但由于对人世间强烈的执着让他对瓦尔基里发起了攻击。当佣兵的剑与瓦尔基里的剑相交到一起时发生了剧烈的爆炸。而再醒来的佣兵，却已经来到了另一个世界。</string>
		<key>300100</key>
		<string>佣兵接受了奥丁的任务，前往铁森林寻找英灵，但在内心中却一直存在着反抗意识，脑子里也有着无数的谜团。虽然对于凯瑟琳的身份仍有诸多疑问，但毫无办法的佣兵只能选择相信，因为这是他唯一的希望。</string>
		<key>300200</key>
		<string>第二章描述</string>
		<key>300300</key>
		<string>第三章描述</string>
		<key>300400</key>
		<string>第四章描述</string>
		<key>300500</key>
		<string>第五章描述</string>
		<key>300600</key>
		<string>第六章描述</string>
		<key>300700</key>
		<string>第七章描述</string>
		<key>300800</key>
		<string>第八章描述</string>
		<key>300900</key>
		<string>第九章描述</string>
		<key>300001</key>
		<string>醒来的佣兵来到了神界，而在它身边已经有一个人，就如同在等着他的到来一般。陌生的环境，敌我不分的邂逅，佣兵是否该朝着金宫前进</string>
		<key>300101</key>
		<string>铁森林是连接人界和巨人国度的天然屏障，从来没有人可以安然的穿越整个铁森林。而这一次的任务也仅仅只是在铁森林边缘进行，这里有着人类最偏僻的村庄。</string>
		<key>300102</key>
		<string>进入铁森林边缘地带后两人并没有发现异常，在陆续的清楚一些野兽后也放低了警惕，而此时两人并未感觉到气温的逐渐下降，当凯瑟琳终于发现地上已经结霜之后，一直隐藏着的敌人已经举起了利爪。</string>
		<key>300103</key>
		<string>测试第一章第三节描述</string>
		<key>300104</key>
		<string>测试第一章第四节描述</string>
		<key>300105</key>
		<string>测试第一章第五节描述</string>
		<key>300106</key>
		<string>测试第一章第六节描述</string>
		<key>300107</key>
		<string>测试第一章第七节描述</string>
		<key>300108</key>
		<string>测试第一章第八节描述</string>
		<key>300109</key>
		<string>测试第一章第九节描述</string>
		<key>500000</key>
		<string>测试任务描述1</string>
		<key>501010</key>
		<string>测试任务描述2</string>
		<key>501020</key>
		<string>测试任务描述3</string>
		<key>501030</key>
		<string>测试任务描述4</string>
		<key>501040</key>
		<string>测试任务描述5</string>
		<key>501050</key>
		<string>测试任务描述6</string>
		<key>501060</key>
		<string>测试任务描述7</string>
		<key>501070</key>
		<string>测试任务描述8</string>
		<key>501080</key>
		<string>测试任务描述9</string>
		<key>501090</key>
		<string>测试任务描述10</string>
		<key>200000</key>
		<string>测试基础事件说明1</string>
		<key>200001</key>
		<string>测试基础事件说明2</string>
		<key>200002</key>
		<string>测试基础事件说明3</string>
		<key>200003</key>
		<string>测试基础事件说明4</string>
		<key>200004</key>
		<string>测试基础事件说明5</string>
		<key>200005</key>
		<string>测试基础事件说明6</string>
		<key>200006</key>
		<string>测试基础事件说明7</string>
		<key>200007</key>
		<string>测试基础事件说明8</string>
		<key>200008</key>
		<string>测试基础事件说明9</string>
		<key>200009</key>
		<string>测试基础事件说明10</string>
		<key>200010</key>
		<string>测试基础事件说明11</string>
		<key>200011</key>
		<string>测试基础事件说明12</string>
		<key>200012</key>
		<string>测试基础事件说明13</string>
		<key>200013</key>
		<string>测试基础事件说明14</string>
		<key>600201</key>
		<string>对话1</string>
		<key>600002</key>
		<string>对话2</string>
		<key>600101</key>
		<string>对话3</string>
		<key>600202</key>
		<string>对话4</string>
		<key>600203</key>
		<string>对话5</string>
		<key>600201</key>
		<string>对话6</string>
		<key>940001</key>
		<string>花费25点神力开启宝箱</string>
		<key>940002</key>
		<string>获得奖励</string>
		<key>940003</key>
		<string>损失250金币，获得奖励</string>
		<key>940004</key>
		<string>纯伤害，现在为空</string>
		<key>600001</key>
		<string>哎~~~ 大忽悠！大忽悠！</string>
		<key>600002</key>
		<string>喊啥大忽悠，当大伙面，别叫我艺名行不行？</string>
		<key>600003</key>
		<string>孩儿他爸</string>
		<key>600004</key>
		<string>哎</string>
		<key>600005</key>
		<string>要我说这个拐就别卖啦！</string>
		<key>600006</key>
		<string>你别说那话，不卖了，做这副拐又搭工又搭料，一天一宿没睡觉，不卖不赔了吗？</string>
		<key>600007</key>
		<string>这满大街都是腿脚好的，谁买你那玩意啊？</string>
		<key>600008</key>
		<string>这啥话，你还不知道我强项，还叫我大忽悠呢。我能把正的忽悠正邪了，能把奸人忽悠乜了，小两口过的挺好，我给他忽悠分别了。今天卖拐，一双好腿我能给他忽悠瘸了！</string>
		<key>600009</key>
		<string>哈哈，你可拉倒吧</string>
		<key>600010</key>
		<string>信不信？</string>
		<key>600011</key>
		<string>我就不信人家好好的腿你就能给人忽悠瘸了？</string>
		<key>600012</key>
		<string>这就是我强项。</string>
		<key>600101</key>
		<string>你能信吗？</string>
		<key>600102</key>
		<string>你得说出来呀。</string>
		<key>600103</key>
		<string>在最近的一段时间内，感觉没感觉到你的浑身某个部位，跟过去不一样了。你想，你使劲想~~~，你说实话</string>
		<key>600104</key>
		<string>我没觉着哪儿不一样，我就觉着我这脸越来越大呀？</string>
		<key>600105</key>
		<string>对了，这不是主要病症！你知道你的脸为什么大吗？</string>
		<key>600106</key>
		<string>为啥？</string>
		<key>600107</key>
		<string>是你的末梢神经坏死把上边憋大了。</string>
		<key>600108</key>
		<string>那是哪憋的呢？</string>
		<key>600109</key>
		<string>腰部以下~~~ 脚往上~~~</string>
		<key>600110</key>
		<string>腿呀？</string>
		<key>600111</key>
		<string>对头！</string>
		<key>600201</key>
		<string>不对，我腿没啥病！</string>
		<key>600202</key>
		<dict>
			<key>没病？你腿就有病！</key>
			<string>nim</string>
		</dict>
		<key>600203</key>
		<string>啥病呀</string>
		<key>600204</key>
		<string>走两步！走两步！没病走两步！你想看病吗，看病就走两步！</string>
		<key>600205</key>
		<string>行行~~~ 走两步走走走两步走两步走两步~~~</string>
		<key>600206</key>
		<string>停！你鞋没毛病吧？</string>
		<key>600207</key>
		<string>有啥毛病呀？</string>
		<key>600208</key>
		<string>一跟高一跟低？</string>
		<key>600209</key>
		<string>这是旅游鞋死跟地！</string>
		<key>600210</key>
		<string>对头，就是是你的腿有病，有一条腿短！</string>
		<key>600211</key>
		<string>没那个事儿！我要一条腿长，一条腿短的话，那卖裤子人就告诉我了！</string>
		<key>600212</key>
		<string>卖裤子的告诉你你还买裤子么，谁像我这么实惠呀？</string>
		<key>600213</key>
		<string>是</string>
		<key>600214</key>
		<string>这样吧，我给你调调。信不信，你的腿随着我的手往高抬，能抬多高抬多高，我让你往下落你就随便使劲往下落，好不好？信不信？腿指定有病，右腿短！来，起来！</string>
	</dict>
</plist>

