<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>500000</key>
	<string>在战场上即将死去的佣兵见到了女武神瓦尔基里，但由于对人世间强烈的执着让他对瓦尔基里发起了攻击。当佣兵的剑与瓦尔基里的剑相交到一起时发生了剧烈的爆炸。而再醒来的佣兵，却已经来到了另一个世界。</string>
	<key>500001</key>
	<string>醒来的佣兵来到了神界，而在它身边已经有一个人，就如同在等着他的到来一般。陌生的环境，敌我不分的邂逅，佣兵是否该朝着金宫前进</string>
	<key>500100</key>
	<string>佣兵接受了奥丁的任务，前往铁森林寻找英灵，但在内心中却一直存在着反抗意识，脑子里也有着无数的谜团。虽然对于凯瑟琳的身份仍有诸多疑问，但毫无办法的佣兵只能选择相信，因为这是他唯一的希望。</string>
	<key>500101</key>
	<string>铁森林是连接人界和巨人国度的天然屏障，从来没有人可以安然的穿越整个铁森林。而这一次的任务也仅仅只是在铁森林边缘进行，这里有着人类最偏僻的村庄。</string>
	<key>500102</key>
	<string>进入铁森林边缘地带后两人并没有发现异常，在陆续的清楚一些野兽后也放低了警惕，而此时两人并未感觉到气温的逐渐下降，当凯瑟琳终于发现地上已经结霜之后，一直隐藏着的敌人已经举起了利爪。</string>
	<key>1</key>
	<string>进入树洞</string>
	<key>2</key>
	<string>进入草丛</string>
	<key>3</key>
	<string>探索山洞</string>
	<key>4</key>
	<string>进入帐篷</string>
	<key>5</key>
	<string>进入木屋</string>
	<key>6</key>
	<string>打开木屋的门</string>
	<key>7</key>
	<string>回到路口</string>
	<key>8</key>
	<string>攀上大树</string>
	<key>9</key>
	<string>跳进井中</string>
	<key>10</key>
	<string>探索营地周围</string>
	<key>11</key>
	<string>潜入湖中</string>
	<key>12</key>
	<string>沿河流前进</string>
	<key>13</key>
	<string>从木桥上走过</string>
	<key>14</key>
	<string>越过河流</string>
	<key>15</key>
	<string>在篝火附近搜索</string>
	<key>16</key>
	<string>探索废墟</string>
	<key>17</key>
	<string>进入建筑中</string>
	<key>18</key>
	<string>跟着脚印前进</string>
	<key>19</key>
	<string>越过栅栏</string>
	<key>20</key>
	<string>清除野草前进</string>
	<key>21</key>
	<string>往远方的建筑靠近</string>
	<key>22</key>
	<string>攀上低矮的岩石</string>
	<key>23</key>
	<string>触动怪异的机关</string>
	<key>24</key>
	<string>按压松动的石砖</string>
	<key>25</key>
	<string>转身迅速离开</string>
	<key>26</key>
	<string>迅速前进</string>
	<key>27</key>
	<string>向着日落的方向继续前进</string>
	<key>28</key>
	<string>在原地埋伏并搜索</string>
	<key>29</key>
	<string>推动沉重的石门</string>
	<key>30</key>
	<string>点亮油灯</string>
	<key>210001</key>
	<string>TVB剧情好好看啊</string>
	<key>210002</key>
	<string>你个蠢材</string>
	<key>210003</key>
	<string>屁股向后平沙落雁</string>
	<key>210004</key>
	<string>！！！！</string>
	<key>210005</key>
	<string>我去年买了个包</string>
	<key>210006</key>
	<string>我去年买了个包</string>
</dict>
</plist>
