<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<string>链接服务端失败</string>
	<key>10001</key>
	<string>服务端请求失败</string>
	<key>5035</key>
	<string>服务端数据不正常</string>
</dict>
</plist>
