<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>进入树洞</string>
	<key>2</key>
	<string>进入草丛</string>
	<key>3</key>
	<string>探索山洞</string>
	<key>4</key>
	<string>进入帐篷</string>
	<key>5</key>
	<string>进入木屋</string>
	<key>6</key>
	<string>打开木屋的门</string>
	<key>7</key>
	<string>回到路口</string>
	<key>8</key>
	<string>攀上大树</string>
	<key>9</key>
	<string>跳进井里</string>
	<key>10</key>
	<string>探索营地周围</string>
	<key>11</key>
	<string>潜入湖中</string>
	<key>12</key>
	<string>沿河流前进</string>
	<key>13</key>
	<string>从木桥上走过</string>
	<key>14</key>
	<string>越过河流</string>
	<key>15</key>
	<string>在篝火附近搜索</string>
	<key>16</key>
	<string>探索废墟</string>
	<key>17</key>
	<string>进入建筑中</string>
	<key>18</key>
	<string>跟着脚印前进</string>
	<key>19</key>
	<string>越过栅栏</string>
	<key>20</key>
	<string>清除野草前进</string>
	<key>21</key>
	<string>往远方的建筑靠近</string>
	<key>22</key>
	<string>攀上低矮的岩石</string>
	<key>23</key>
	<string>触动怪异的机关</string>
	<key>24</key>
	<string>按压松动的石砖</string>
	<key>25</key>
	<string>转身迅速离开</string>
	<key>26</key>
	<string>迅速前进</string>
	<key>27</key>
	<string>向着日落的方向继续前进</string>
	<key>28</key>
	<string>在原地埋伏并搜索</string>
	<key>29</key>
	<string>推动沉重的石门</string>
	<key>30</key>
	<string>点亮油灯</string>
</dict>
</plist>
