<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DEMO</string>
	<key>gold</key>
	<string>金币</string>
	<key>cash</key>
	<string>现金</string>
	<key>announcement</key>
	<string>奖励公告</string>
	<key>task</key>
	<string>任务</string>
	<key>explore</key>
	<string>探险</string>
	<key>lineup</key>
	<string>阵容设置</string>
	<key>patch</key>
	<string>碎片</string>
	<key>mall</key>
	<string>商城</string>
	<key>email</key>
	<string>邮件</string>
	<key>1</key>
	<string> 在战场上即将死去的佣兵见到了女武神瓦尔基里，但由于对人世间强烈的执着让他对瓦尔基里发起了攻击。当佣兵的剑与瓦尔基里的剑相交到一起时发生了剧烈的爆炸。而再醒来的佣兵，却已经来到了另一个世界。</string>
	<key>1_1</key>
	<string>醒来的佣兵来到了神界，而在它身边已经有一个人，就如同在等着他的到来一般。陌生的环境，敌我不分的邂逅，佣兵是否该朝着金宫前进</string>
	<key>2</key>
	<string>佣兵接受了奥丁的任务，前往铁森林寻找英灵，但在内心中却一直存在着反抗意识，脑子里也有着无数的谜团。虽然对于凯瑟琳的身份仍有诸多疑问，但毫无办法的佣兵只能选择相信，因为这是他唯一的希望。</string>
	<key>2_1</key>
	<string>铁森林是连接人界和巨人国度的天然屏障，从来没有人可以安然的穿越整个铁森林。而这一次的任务也仅仅只是在铁森林边缘进行，这里有着人类最偏僻的村庄。</string>
	<key>2_2</key>
	<string>进入铁森林边缘地带后两人并没有发现异常，在陆续的清楚一些野兽后也放低了警惕，而此时两人并未感觉到气温的逐渐下降，当凯瑟琳终于发现地上已经结霜之后，一直隐藏着的敌人已经举起了利爪。</string>
	<key>option</key>
	<string>选项</string>
	<key>mainTask</key>
	<string>主线任务</string>
	<key>auction</key>
	<string>拍卖</string>
	<key>merchant</key>
	<string>商人</string>
	<key>entrustedTask</key>
	<string>委托任务</string>
	<key>concourse</key>
	<string>中央大厅</string>
	<key>hp</key>
	<string>健康值</string>
	<key>ap</key>
	<string>体力值</string>
	<key>currentTask</key>
	<string>当前任务</string>
	<key>captaincaptain</key>
	<string>队长</string>
	<key>attack</key>
	<string>攻坚</string>
	<key>destroys</key>
	<string>破阵</string>
	<key>lore</key>
	<string>绝杀</string>
	<key>intervene</key>
	<string>援护</string>
	<key>CurrenRoom</key>
	<string>当前房间[0,0,0,+z]</string>
	<key>assault</key>
	<string>攻击 2000</string>
	<key>defense</key>
	<string>防御 2000</string>
	<key>blood</key>
	<string>血量 2000</string>
	<key>evolution</key>
	<string>进化</string>
	<key>upgrade</key>
	<string>升级</string>
	<key>valkyries</key>
	<string>英灵殿</string>
	<key>gladsheim</key>
	<string>金宫</string>
	<key>duplicate</key>
	<string>神宝库</string>
	<key>bifrost</key>
	<string>彩虹桥</string>
	<key>title</key>
	<string>DEMO测试</string>
	<key>activity</key>
	<string>活动</string>
	<key>back</key>
	<string>回城</string>
	<key>voltron</key>
	<string>英灵</string>
	<key>packsack</key>
	<string>背包</string>
	<key>indeterminate</key>
	<string>无用</string>
	<key>level</key>
	<string>Lv3</string>
	<key>win</key>
	<string>恭喜你！</string>
	<key>lose</key>
	<string>下次继续！</string>
	<key>synopsis</key>
	<string>北欧神话是斯堪的纳维亚地区所特有的一个神话体系，其形成时间晚于世界上其他几大神话体系，北欧神话的口头传播历史可追溯到公元1-2世纪，首先在挪威、丹麦和瑞典等地方流行，公元7世纪左右随着一批北上的移民传至冰岛等处。中世纪时，基督教在整个欧洲盛行，由于在政治上强力打击，大部分记载北欧神话的作品被认为是异端邪说而付之一炬，至今保留的较为完整的有冰岛史诗《埃达》以及日耳曼史诗《尼伯龙根之歌》等</string>
	<key>cuowutishiqueren</key>
	<string>确认</string>
	<key>cuowutishiquxiao</key>
	<string>取消</string>
	<key>quanbulingqu</key>
	<string>全部领取</string>
	<key>lingqujiangpin</key>
	<string>领取</string>
	<key>youjiankuaimanle</key>
	<string>后台请不要发那多邮件，邮件都快爆了</string>
	<key>caonima</key>
	<string>背包已经满了点个垃圾点点点</string>
	<key>quniudan</key>
	<string>去扭蛋</string>
	<key>quchongzhi</key>
	<string>去充值</string>
	<key>goumai</key>
	<string>购买</string>
	<key>fanhui</key>
	<string>返回</string>
	<key>qushangcheng</key>
	<string>去商城</string>
	<key>chouyici</key>
	<string>抽一次</string>
	<key>choushiyici</key>
	<string>抽十一次</string>
	<key>niudanstrfriend</key>
	<string>每次抽取需消耗%d友情点</string>
	<key>niudanstrcash</key>
	<string>抽取一次需要消耗%d个钻石,抽取十一次需要消耗%d钻石</string>
	<key>huodongshijian</key>
	<string>活动时间</string>
	<key>huodongneirong</key>
	<string>活动内容</string>
	<key>backpack_all</key>
	<string>All</string>
	<key>backpack_prop</key>
	<string>The props</string>
	<key>backpack_material</key>
	<string>Material</string>
	<key>backpack_task</key>
	<string>The task</string>
</dict>
</plist>
