<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>300000</key>
		<dict>
			<key>chapter_id</key>
			<string>300000</string>
			<key>chapter_name</key>
			<string>序章 死去的银狼</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300000</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300100</key>
		<dict>
			<key>chapter_id</key>
			<string>300100</string>
			<key>chapter_name</key>
			<string>第一章 钢铁森林</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300100</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300200</key>
		<dict>
			<key>chapter_id</key>
			<string>300200</string>
			<key>chapter_name</key>
			<string>章节2</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300200</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300300</key>
		<dict>
			<key>chapter_id</key>
			<string>300300</string>
			<key>chapter_name</key>
			<string>章节3</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300300</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300400</key>
		<dict>
			<key>chapter_id</key>
			<string>300400</string>
			<key>chapter_name</key>
			<string>章节4</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300400</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300500</key>
		<dict>
			<key>chapter_id</key>
			<string>300500</string>
			<key>chapter_name</key>
			<string>章节5</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300500</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300600</key>
		<dict>
			<key>chapter_id</key>
			<string>300600</string>
			<key>chapter_name</key>
			<string>章节6</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300600</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300700</key>
		<dict>
			<key>chapter_id</key>
			<string>300700</string>
			<key>chapter_name</key>
			<string>章节7</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300700</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300800</key>
		<dict>
			<key>chapter_id</key>
			<string>300800</string>
			<key>chapter_name</key>
			<string>章节8</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300800</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>300900</key>
		<dict>
			<key>chapter_id</key>
			<string>300900</string>
			<key>chapter_name</key>
			<string>章节9</string>
			<key>chapter_type</key>
			<string>0</string>
			<key>chapter_tips</key>
			<string>300900</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
		<key>309900</key>
		<dict>
			<key>chapter_id</key>
			<string>309900</string>
			<key>chapter_name</key>
			<string>活动章节</string>
			<key>chapter_type</key>
			<string>1</string>
			<key>chapter_tips</key>
			<string>300000</string>
			<key>chapter_pic</key>
			<string>a.png</string>
		</dict>
	</dict>
</plist>

