<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>chapter_id</key>
		<string>1</string>
		<key>chapter_name</key>
		<string>序章 死去的银狼</string>
		<key>chapter_tips</key>
		<string>500000</string>
		<key>chapter_pic</key>
		<string>a.png</string>
		<key>reward_card_item_id</key>
		<string>100006</string>
		<key>number</key>
		<string>1</string>
		<key>reward_item_id_1</key>
		<string>200001</string>
		<key>number_1</key>
		<string>1</string>
		<key>reward_item_2</key>
		<string>0</string>
		<key>number_2</key>
		<string>0</string>
		<key>reward_item_3</key>
		<string>0</string>
		<key>number_3</key>
		<string>0</string>
	</dict>
	<key>2</key>
	<dict>
		<key>chapter_id</key>
		<string>2</string>
		<key>chapter_name</key>
		<string>第一章 钢铁森林</string>
		<key>chapter_tips</key>
		<string>500001</string>
		<key>chapter_pic</key>
		<string>a.png</string>
		<key>reward_card_item_id</key>
		<string>100007</string>
		<key>number</key>
		<string>1</string>
		<key>reward_item_id_1</key>
		<string>200002</string>
		<key>number_1</key>
		<string>1</string>
		<key>reward_item_2</key>
		<string>0</string>
		<key>number_2</key>
		<string>0</string>
		<key>reward_item_3</key>
		<string>0</string>
		<key>number_3</key>
		<string>0</string>
	</dict>
</dict>
</plist>
