<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>300201</key>
	<dict>
		<key>part_id</key>
		<string>300201</string>
		<key>part_name</key>
		<string>第一节</string>
		<key>chapter_id</key>
		<string>300200</string>
		<key>order_by</key>
		<string>1</string>
		<key>part_tips</key>
		<string>300201</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103007</string>
		<key>max_step</key>
		<string>10</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>502010</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300202</key>
	<dict>
		<key>part_id</key>
		<string>300202</string>
		<key>part_name</key>
		<string>第二节</string>
		<key>chapter_id</key>
		<string>300200</string>
		<key>order_by</key>
		<string>2</string>
		<key>part_tips</key>
		<string>300202</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103008</string>
		<key>max_step</key>
		<string>10</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>502020</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300203</key>
	<dict>
		<key>part_id</key>
		<string>300203</string>
		<key>part_name</key>
		<string>第三节</string>
		<key>chapter_id</key>
		<string>300200</string>
		<key>order_by</key>
		<string>3</string>
		<key>part_tips</key>
		<string>300203</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103009</string>
		<key>max_step</key>
		<string>10</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>502030</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300204</key>
	<dict>
		<key>part_id</key>
		<string>300204</string>
		<key>part_name</key>
		<string>第四节</string>
		<key>chapter_id</key>
		<string>300200</string>
		<key>order_by</key>
		<string>4</string>
		<key>part_tips</key>
		<string>300204</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103010</string>
		<key>max_step</key>
		<string>10</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>502040</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300205</key>
	<dict>
		<key>part_id</key>
		<string>300205</string>
		<key>part_name</key>
		<string>第五节</string>
		<key>chapter_id</key>
		<string>300200</string>
		<key>order_by</key>
		<string>5</string>
		<key>part_tips</key>
		<string>300205</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103001</string>
		<key>max_step</key>
		<string>10</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>502050</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
</dict>
</plist>
