<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>300001</key>
	<dict>
		<key>part_id</key>
		<string>300001</string>
		<key>part_name</key>
		<string>第一节 醒来</string>
		<key>chapter_id</key>
		<string>300000</string>
		<key>order_by</key>
		<string>1</string>
		<key>part_tips</key>
		<string>300001</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103001</string>
		<key>max_step</key>
		<string>10</string>
		<key>mission_id</key>
		<string>500000</string>
	</dict>
</dict>
</plist>
