<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>part_id</key>
		<string>2</string>
		<key>part_name</key>
		<string>第一节 森林边缘</string>
		<key>chapter_id</key>
		<string>2</string>
		<key>order_by</key>
		<string>1</string>
		<key>part_tips</key>
		<string>500101</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>1</string>
		<key>max_step</key>
		<string>15</string>
		<key>ap</key>
		<string>2</string>
		<key>bouns_exp</key>
		<string>100</string>
		<key>bouns_money</key>
		<string>100</string>
		<key>endbouns_exp</key>
		<string>100</string>
		<key>endbouns_money</key>
		<string>100</string>
		<key>bouns_rmb</key>
		<string>0</string>
		<key>mission_id</key>
		<string>1</string>
		<key>randomevent_id</key>
		<string>1</string>
		<key>trigger_id</key>
		<string>1</string>
	</dict>
	<key>3</key>
	<dict>
		<key>part_id</key>
		<string>3</string>
		<key>part_name</key>
		<string>第二节 呼唤冰雪的狼</string>
		<key>chapter_id</key>
		<string>2</string>
		<key>order_by</key>
		<string>2</string>
		<key>part_tips</key>
		<string>500102</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>1</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>2</string>
		<key>bouns_exp</key>
		<string>100</string>
		<key>bouns_money</key>
		<string>100</string>
		<key>endbouns_exp</key>
		<string>100</string>
		<key>endbouns_money</key>
		<string>100</string>
		<key>bouns_rmb</key>
		<string>0</string>
		<key>mission_id</key>
		<string>1</string>
		<key>randomevent_id</key>
		<string>1</string>
		<key>trigger_id</key>
		<string>1</string>
	</dict>
</dict>
</plist>
