<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>300901</key>
	<dict>
		<key>part_id</key>
		<string>300901</string>
		<key>part_name</key>
		<string>第一节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>1</string>
		<key>part_tips</key>
		<string>300901</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103002</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509010</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300902</key>
	<dict>
		<key>part_id</key>
		<string>300902</string>
		<key>part_name</key>
		<string>第二节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>2</string>
		<key>part_tips</key>
		<string>300902</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103003</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509020</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300903</key>
	<dict>
		<key>part_id</key>
		<string>300903</string>
		<key>part_name</key>
		<string>第三节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>3</string>
		<key>part_tips</key>
		<string>300903</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103004</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509030</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300904</key>
	<dict>
		<key>part_id</key>
		<string>300904</string>
		<key>part_name</key>
		<string>第四节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>4</string>
		<key>part_tips</key>
		<string>300904</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103005</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509040</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300905</key>
	<dict>
		<key>part_id</key>
		<string>300905</string>
		<key>part_name</key>
		<string>第五节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>5</string>
		<key>part_tips</key>
		<string>300905</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103006</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509050</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300906</key>
	<dict>
		<key>part_id</key>
		<string>300906</string>
		<key>part_name</key>
		<string>第六节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>6</string>
		<key>part_tips</key>
		<string>300606</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103007</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509060</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300907</key>
	<dict>
		<key>part_id</key>
		<string>300907</string>
		<key>part_name</key>
		<string>第七节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>7</string>
		<key>part_tips</key>
		<string>300607</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103008</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509070</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300908</key>
	<dict>
		<key>part_id</key>
		<string>300908</string>
		<key>part_name</key>
		<string>第八节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>8</string>
		<key>part_tips</key>
		<string>300608</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103009</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509080</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300909</key>
	<dict>
		<key>part_id</key>
		<string>300909</string>
		<key>part_name</key>
		<string>第九节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>9</string>
		<key>part_tips</key>
		<string>300609</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103010</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509090</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300910</key>
	<dict>
		<key>part_id</key>
		<string>300910</string>
		<key>part_name</key>
		<string>第十节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>10</string>
		<key>part_tips</key>
		<string>300601</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103001</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509100</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300911</key>
	<dict>
		<key>part_id</key>
		<string>300911</string>
		<key>part_name</key>
		<string>第十一节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>11</string>
		<key>part_tips</key>
		<string>300602</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103002</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509110</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>1</string>
	</dict>
	<key>300912</key>
	<dict>
		<key>part_id</key>
		<string>300912</string>
		<key>part_name</key>
		<string>第十二节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>12</string>
		<key>part_tips</key>
		<string>300603</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103003</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509120</string>
		<key>left_clear</key>
		<string>0</string>
		<key>middle_clear</key>
		<string>1</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
	<key>300913</key>
	<dict>
		<key>part_id</key>
		<string>300913</string>
		<key>part_name</key>
		<string>第十三节</string>
		<key>chapter_id</key>
		<string>300900</string>
		<key>order_by</key>
		<string>13</string>
		<key>part_tips</key>
		<string>300604</string>
		<key>part_pic</key>
		<string>b.png</string>
		<key>scene_id</key>
		<string>103004</string>
		<key>max_step</key>
		<string>30</string>
		<key>ap</key>
		<string>1</string>
		<key>mission_id</key>
		<string>509130</string>
		<key>left_clear</key>
		<string>1</string>
		<key>middle_clear</key>
		<string>0</string>
		<key>right_clear</key>
		<string>0</string>
	</dict>
</dict>
</plist>
