<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>card_uint</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>pos</key>
			<string>{0,0}</string>
			<key>tag</key>
			<string>1</string>
			<key>scale</key>
			<string>0.8</string>
		</dict>
		<key>layerFile</key>
		<string>cubeCardSprite.map</string>
		<key>type</key>
		<string>Layer</string>
	</dict>
	<key>name</key>
	<dict>
		<key>color</key>
		<string>15</string>
		<key>fontSize</key>
		<string>30</string>
		<key>isChild</key>
		<string>-1</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{150,17}</string>
			<key>tagArray</key>
			<string>1,0,0</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordString</key>
		<string>name</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>2000</string>
		</dict>
	</dict>
	<key>def</key>
	<dict>
		<key>color</key>
		<string>15</string>
		<key>fontSize</key>
		<string>18</string>
		<key>isChild</key>
		<string>-1</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{100,55}</string>
			<key>tagArray</key>
			<string>1,0,17</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordString</key>
		<string>def</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>2001</string>
		</dict>
	</dict>
	<key>atk</key>
	<dict>
		<key>color</key>
		<string>15</string>
		<key>fontSize</key>
		<string>18</string>
		<key>isChild</key>
		<string>-1</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{100,30}</string>
			<key>tagArray</key>
			<string>1,0,17</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordString</key>
		<string>atk</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>2002</string>
		</dict>
	</dict>
	<key>maturity</key>
	<dict>
		<key>color</key>
		<string>15</string>
		<key>fontSize</key>
		<string>18</string>
		<key>isChild</key>
		<string>-1</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{240,55}</string>
			<key>tagArray</key>
			<string>1,0,17</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordString</key>
		<string>maturity</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>2003</string>
		</dict>
	</dict>
	<key>pwr</key>
	<dict>
		<key>color</key>
		<string>15</string>
		<key>fontSize</key>
		<string>18</string>
		<key>isChild</key>
		<string>-1</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{200,30}</string>
			<key>tagArray</key>
			<string>1,0,17</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordString</key>
		<string>pwr</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>2004</string>
		</dict>
	</dict>
	<key>touchStarOne</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,10</string>
		<key>touch_tag</key>
		<string>3001</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchStarTwo</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,11</string>
		<key>touch_tag</key>
		<string>3002</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchStarThree</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,12</string>
		<key>touch_tag</key>
		<string>3003</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchStarFouth</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,13</string>
		<key>touch_tag</key>
		<string>3004</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchStarFive</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,14</string>
		<key>touch_tag</key>
		<string>3005</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBloodOne</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,4</string>
		<key>touch_tag</key>
		<string>3006</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBloodTwo</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,5</string>
		<key>touch_tag</key>
		<string>3007</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBloodThree</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,6</string>
		<key>touch_tag</key>
		<string>3008</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBloodFouth</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,7</string>
		<key>touch_tag</key>
		<string>3009</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBloodFive</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,8</string>
		<key>touch_tag</key>
		<string>3010</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>touchBottom</key>
	<dict>
		<key>tagArray</key>
		<string>1,0,17</string>
		<key>touch_tag</key>
		<string>3011</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
</dict>
</plist>
