<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>chushoujiemian</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>2001</string>
			</dict>
			<key>layerFile</key>
			<string>chushoujiemian.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>2</string>
		</dict>
		<key>sTitle</key>
		<dict>
			<key>color</key>
			<string>15</string>
			<key>fontSize</key>
			<string>16</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>sell_title</string>
			<key>speOption</key>
			<dict>
				<key>tagArray</key>
				<string>2001,2,0</string>
				<key>z</key>
				<string>1</string>
				<key>offsetPos</key>
				<string>{100,10}</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Do you want to sell a card or what ?</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4001</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>sSave</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>15</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>save</string>
			<key>speOption</key>
			<dict>
				<key>tagArray</key>
				<string>2001,1,25</string>
				<key>z</key>
				<string>1</string>
				<key>offsetPos</key>
				<string>{40,5}</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Save Change</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4002</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>sConin</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>15</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>conin</string>
			<key>speOption</key>
			<dict>
				<key>tagArray</key>
				<string>2001,1,19</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>0</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4003</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
	</dict>
</plist>

