<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>confirm</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>2</string>
				<key>visible</key>
				<string>0</string>
			</dict>
			<key>layerFile</key>
			<string>confirm.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>2</string>
		</dict>
		<key>fight_confirm</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>3</string>
			</dict>
			<key>layerFile</key>
			<string>fight_confirm.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>3</string>
		</dict>
		<key>t_confirm</key>
		<dict>
			<key>tagArray</key>
			<string>2,0,1</string>
			<key>touch_tag</key>
			<string>2001</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_fight_confirm</key>
		<dict>
			<key>tagArray</key>
			<string>3,0,1</string>
			<key>touch_tag</key>
			<string>2002</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
	</dict>
</plist>

