<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cuowutishidialog</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>1</string>
		</dict>
		<key>layerFile</key>
		<string>cuowutishijiemian.map</string>
		<key>type</key>
		<string>Layer</string>
		<key>z</key>
		<string>0</string>
	</dict>
	<key>bgColor</key>
	<dict>
		<key>color</key>
		<string>{0,0,0,200}</string>
		<key>fatherTagArray</key>
		<string>1,0</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>3</string>
		</dict>
		<key>type</key>
		<string>ColorLayer</string>
		<key>z</key>
		<string>-10</string>
	</dict>
	<key>t_quxiao</key>
	<dict>
		<key>tagArray</key>
		<string>1,2,0</string>
		<key>touch_tag</key>
		<string>2001</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>t_queren</key>
	<dict>
		<key>tagArray</key>
		<string>1,2,1</string>
		<key>touch_tag</key>
		<string>2002</string>
		<key>type</key>
		<string>Touch</string>
	</dict>
	<key>s_quxiao</key>
	<dict>
		<key>color</key>
		<string>18</string>
		<key>fontSize</key>
		<string>20</string>
		<key>isChild</key>
		<string>-1</string>
		<key>key</key>
		<string>cuowutishiquxiao</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{80,20}</string>
			<key>tagArray</key>
			<string>1,2,0</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordFile</key>
		<string>word.plist</string>
	</dict>
	<key>s_queren</key>
	<dict>
		<key>color</key>
		<string>18</string>
		<key>fontSize</key>
		<string>20</string>
		<key>isChild</key>
		<string>-1</string>
		<key>key</key>
		<string>cuowutishiqueren</string>
		<key>speOption</key>
		<dict>
			<key>offsetPos</key>
			<string>{80,20}</string>
			<key>tagArray</key>
			<string>1,2,1</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>type</key>
		<string>LabelTTF</string>
		<key>wordFile</key>
		<string>word.plist</string>
	</dict>
</dict>
</plist>
