<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deletepropjiemian</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>pos</key>
			<string>{0,0}</string>
			<key>tag</key>
			<string>1</string>
			<key>anchor</key>
			<string>0,0</string>
		</dict>
		<key>layerFile</key>
		<string>baoguoshanchujiemian.map</string>
		<key>type</key>
		<string>Layer</string>
		<key>z</key>
		<string>1</string>
	</dict>
	<key>bgColor</key>
	<dict>
		<key>color</key>
		<string>{0,0,0,200}</string>
		<key>fatherTagArray</key>
		<string>1,0</string>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>100</string>
		</dict>
		<key>type</key>
		<string>ColorLayer</string>
		<key>z</key>
		<string>-10</string>
	</dict>
</dict>
</plist>
