<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>t_go</key>
		<dict>
			<key>tagArray</key>
			<string>1,6,1</string>
			<key>touch_tag</key>
			<string>7002</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_task2</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,2</string>
			<key>touch_tag</key>
			<string>7004</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_task1</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,1</string>
			<key>touch_tag</key>
			<string>7003</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_task3</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,3</string>
			<key>touch_tag</key>
			<string>7005</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>task</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
			<key>layerFile</key>
			<string>demo_task.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>2</string>
		</dict>
		<key>t_gettask</key>
		<dict>
			<key>tagArray</key>
			<string>1,6,0</string>
			<key>touch_tag</key>
			<string>7001</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_close</key>
		<dict>
			<key>tagArray</key>
			<string>1,0,1</string>
			<key>touch_tag</key>
			<string>7006</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
	</dict>
</plist>

