<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>main</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>0</string>
			</dict>
			<key>layerFile</key>
			<string>main.map</string>
			<key>type</key>
			<string>Layer</string>
		</dict>
		<key>s_title</key>
		<dict>
			<key>color</key>
			<string>15</string>
			<key>fontSize</key>
			<string>20</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>title</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{80,16}</string>
				<key>tagArray</key>
				<string>0,1,0</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
		</dict>
		<key>s_level</key>
		<dict>
			<key>color</key>
			<string>18</string>
			<key>fontSize</key>
			<string>20</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>level</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{55,45}</string>
				<key>tagArray</key>
				<string>0,2,2</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
		</dict>
		<key>arrows</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
			<key>layerFile</key>
			<string>arrows.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>2</string>
		</dict>
		<key>t_up</key>
		<dict>
			<key>tagArray</key>
			<string>1,3,0</string>
			<key>touch_tag</key>
			<string>3001</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_right</key>
		<dict>
			<key>tagArray</key>
			<string>1,3,1</string>
			<key>touch_tag</key>
			<string>3002</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>t_left</key>
		<dict>
			<key>tagArray</key>
			<string>1,3,2</string>
            <key>touch_tag</key>
			<string>3003</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
	</dict>
</plist>

