<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>qianghua</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
			<key>layerFile</key>
			<string>qianghua.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>1</string>
		</dict>
		<key>satk</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>18</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_atk</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{95,32}</string>
				<key>tagArray</key>
				<string>1,0,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>ATK: 0 (+0)</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4001</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>shp</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>18</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_hp</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{95,5}</string>
				<key>tagArray</key>
				<string>1,0,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>HP: 0 (+0)</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4002</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>sdef</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>18</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_def</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{320,32}</string>
				<key>tagArray</key>
				<string>1,0,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>DEF: 0 (+0)</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4003</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>srvc</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>18</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_rvc</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{320,5}</string>
				<key>tagArray</key>
				<string>1,0,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>RVC: 0 (+0)</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4004</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>smoney</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>15</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_money</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{-60,2}</string>
				<key>tagArray</key>
				<string>1,0,129</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>3000</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4005</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>ssave</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>20</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_save</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{24,3}</string>
				<key>tagArray</key>
				<string>1,0,0</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Save Change</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4006</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
		<key>sjindu</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>15</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>s_jindu</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{65,-20}</string>
				<key>tagArray</key>
				<string>1,0,160</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>3/20</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>4007</string>
				<key>anchor</key>
				<string>0,0</string>
			</dict>
		</dict>
	</dict>
</plist>

