<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>youjianjiemian</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>100</string>
		</dict>
		<key>layerFile</key>
		<string>youjianjiemian.map</string>
		<key>type</key>
		<string>Layer</string>
		<key>z</key>
		<string>0</string>
	</dict>
</dict>
</plist>
