<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>touxiang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,2},{99,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,92}}</string>
			<key>sourceSize</key>
			<string>{99,92}</string>
		</dict>
		<key>vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,2},{144,74}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,74}}</string>
			<key>sourceSize</key>
			<string>{146,74}</string>
		</dict>
		<key>zhandou-ui_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,2},{52,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{52,56}</string>
		</dict>
		<key>zhandou-ui_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{48,6}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,6}}</string>
			<key>sourceSize</key>
			<string>{48,14}</string>
		</dict>
		<key>zhandou-ui_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,51},{616,46}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,46}}</string>
			<key>sourceSize</key>
			<string>{616,56}</string>
		</dict>
		<key>zhandou-ui_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,2},{53,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,56}}</string>
			<key>sourceSize</key>
			<string>{53,56}</string>
		</dict>
		<key>zhandou-ui_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,2},{16,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,60}}</string>
			<key>sourceSize</key>
			<string>{16,60}</string>
		</dict>
		<key>zhandou-ui_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,2},{8,60}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{8,60}}</string>
			<key>sourceSize</key>
			<string>{12,60}</string>
		</dict>
		<key>zhandou-ui_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,60},{52,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,51}}</string>
			<key>sourceSize</key>
			<string>{52,51}</string>
		</dict>
		<key>zhandou-ui_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{616,47}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{616,47}}</string>
			<key>sourceSize</key>
			<string>{616,51}</string>
		</dict>
		<key>zhandou-ui_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,60},{53,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,51}}</string>
			<key>sourceSize</key>
			<string>{53,51}</string>
		</dict>
		<key>zhandou-ui_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,78},{48,9}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{48,9}}</string>
			<key>sourceSize</key>
			<string>{48,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhandouui.png</string>
		<key>size</key>
		<string>{1024,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2ea4546d8e563205d92cc910dea5f2b5$</string>
		<key>textureFileName</key>
		<string>zhandouui.png</string>
	</dict>
</dict>
</plist>
