<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>outborder</key>
		<dict>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
			<key>layerFile</key>
			<string>zhenxing.map</string>
			<key>type</key>
			<string>Layer</string>
			<key>z</key>
			<string>0</string>
		</dict>
		<key>teamTitle</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>16</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>teamArray</string>
			<key>speOption</key>
			<dict>
				<key>tagArray</key>
				<string>1,1,2</string>
				<key>z</key>
				<string>1</string>
				<key>offsetPos</key>
				<string>{70,20}</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordString</key>
			<string>Team Arrange</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>0</string>
			</dict>
		</dict>
		<key>enhance</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>16</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>enhance</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{210,17}</string>
				<key>tagArray</key>
				<string>1,1,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Enhance</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>1</string>
			</dict>
		</dict>
		<key>evolution</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>16</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>evolution</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{350,17}</string>
				<key>tagArray</key>
				<string>1,1,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Evolution</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>2</string>
			</dict>
		</dict>
		<key>sell</key>
		<dict>
			<key>color</key>
			<string>12</string>
			<key>fontSize</key>
			<string>16</string>
			<key>isChild</key>
			<string>-1</string>
			<key>key</key>
			<string>sell</string>
			<key>speOption</key>
			<dict>
				<key>offsetPos</key>
				<string>{480,17}</string>
				<key>tagArray</key>
				<string>1,1,1</string>
				<key>z</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>LabelTTF</string>
			<key>wordFile</key>
			<string>word.plist</string>
			<key>wordString</key>
			<string>Sell</string>
			<key>z</key>
			<string>1</string>
			<key>initProperty</key>
			<dict>
				<key>tag</key>
				<string>3</string>
			</dict>
		</dict>
		<key>teamArray</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,2</string>
			<key>touch_tag</key>
			<string>3001</string>
			<key>type</key>
			<string>Touch</string>
		</dict>
		<key>tenhance</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,1</string>
			<key>touch_tag</key>
			<string>3002</string>
			<key>type</key>
			<string>Touch</string>
			<key>touchRect</key>
			<string>{140,0,130,90}</string>
		</dict>
		<key>tevolution</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,1</string>
			<key>touch_tag</key>
			<string>3003</string>
			<key>type</key>
			<string>Touch</string>
			<key>touchRect</key>
			<string>{280,0,130,90}</string>
		</dict>
		<key>tsell</key>
		<dict>
			<key>tagArray</key>
			<string>1,1,1</string>
			<key>touch_tag</key>
			<string>3004</string>
			<key>type</key>
			<string>Touch</string>
			<key>touchRect</key>
			<string>{420,0,130,90}</string>
		</dict>
	</dict>
</plist>

