<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaotiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,444},{249,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,41}}</string>
                <key>sourceSize</key>
                <string>{251,41}</string>
            </dict>
            <key>huodongdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,440}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,440}}</string>
                <key>sourceSize</key>
                <string>{263,442}</string>
            </dict>
            <key>jiantoushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,487},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{67,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,45}}</string>
                <key>sourceSize</key>
                <string>{67,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodongjiemian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd6ceb6cd2936a7b9b3511e727b212f$</string>
            <key>textureFileName</key>
            <string>huodongjiemian.png</string>
        </dict>
    </dict>
</plist>
