<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jieshouanniu_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,41},{111,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,37}}</string>
                <key>sourceSize</key>
                <string>{111,37}</string>
            </dict>
            <key>jieshouanniu_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{111,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,37}}</string>
                <key>sourceSize</key>
                <string>{111,37}</string>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>juesejitain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{222,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,314}}</string>
                <key>sourceSize</key>
                <string>{222,314}</string>
            </dict>
            <key>juesejitaip.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,450},{208,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{208,294}}</string>
                <key>sourceSize</key>
                <string>{222,314}</string>
            </dict>
            <key>putongjitain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,314}}</string>
                <key>sourceSize</key>
                <string>{222,314}</string>
            </dict>
            <key>putongjitaip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{208,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{208,294}}</string>
                <key>sourceSize</key>
                <string>{222,314}</string>
            </dict>
            <key>youN.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,80},{34,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>youP.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,74},{34,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>zuanshiniudan.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,30},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>zuoN.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,38},{34,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>zuoP.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{34,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niudanchouka.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8829cd21a28ee3a1be2bad4f480d16$</string>
            <key>textureFileName</key>
            <string>niudanchouka.png</string>
        </dict>
    </dict>
</plist>
